#{extends 'CRUD/layout.html' /}
#{set activeMenu: 'Questions'/}
<style>
    .hidden {
        display: none;
    }
</style>
<div class="content-wrapper">
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="row">
            <div class="col-md-20">
                <div class="card mb-20">
                    <h4 class="card-header" >
                        Дэлгэрэнгүй мэдээлэл
                        <button style="float: right;margin-right: 10px" class="btn btn-warning" onclick="confirmQuestion()">Дуусгах</button>
                        <button style="float: right;margin-right: 20px" class="btn btn-primary" onclick="confirmQuestion()">Батлах</button>
                    </h4>
                    <table class="table">
                        <tbody>
                        <tr>
                            <td style="width: 20%"><strong>МЭН-ийн судалгааны нэр: </strong></td>
                            <td class="text-left">${research.name}</td>
                            <td style="width: 20%"><strong>МЭН-ийн судалгааны төрөл: </strong></td>
                            <td class="text-left"></td>
                        </tr>
                        <tr>
                            <td style="width: 20%"><strong>Судалгаа үүсгэсэн: </strong></td>
                            <td class="text-left">${research.u}</td>
                            <td style="width: 20%"><strong>МЭН-ийн судалгааны төлөв: </strong></td>
                            <td class="text-left">${research.researchState}</td>
                        </tr>
                        <tr>
                            <td style="width: 20%"><strong>МЭН-ийн судалгааны огноо: </strong></td>
                            <td class="text-left">${research.startDate?.format("yyyy-MM-dd")}-${research.endDate?.format("yyyy-MM-dd")}</td>
                            <td style="width: 20%"><strong>Хавсралт: </strong></td>
                            <td class="text-left"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <br/>
        <br/>
        <div class="row">
            <!-- Асуултын төрөл -->
            <div class="col-md-3">
                <div class="card mb-3">
                    <h5 class="card-header">Асуултын төрөл</h5>
                    <div id="constQuestionType" class="card-body demo-vertical-spacing demo-only-element">
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon14"><i style="font-size: 28px"
                                                                                 class='bx bx-text'></i></span>
                            <button style="font-size: 17px" type="button" class="form-control" aria-label="Text"
                                    onclick="addQuestionType(1)" title="Асуулт нэмэх"> Text
                            </button>
                        </div>
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon14"><i style="font-size: 28px"
                                                                                 class="tf-icons bx bx-calendar"></i></span>
                            <button style="font-size: 17px" type="button" class="form-control" aria-label="Text"
                                    onclick="addQuestionType(2)" title="Асуулт нэмэх"> Date
                            </button>
                        </div>
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon14"><i style="font-size: 28px"
                                                                                 class='bx bx-down-arrow-circle'></i></span>
                            <button style="font-size: 17px" type="button" class="form-control" aria-label="Text"
                                    onclick="addQuestionType(3)" title="Асуулт нэмэх"> Drop-down
                            </button>
                        </div>
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon14"><i style="font-size: 28px"
                                                                                 class='bx bx-radio-circle-marked'></i></span>
                            <button style="font-size: 17px" type="button" class="form-control" aria-label="Text"
                                    onclick="addQuestionType(4)" title="Асуулт нэмэх"> Radiobutton
                            </button>
                        </div>
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon14"><i style="font-size: 28px"
                                                                                 class='bx bx-checkbox'></i></span>
                            <button style="font-size: 17px" type="button" class="form-control" aria-label="Text"
                                    onclick="addQuestionType(5)" title="Асуулт нэмэх"> Checkbox
                            </button>
                        </div>
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon14"><i style="font-size: 28px"
                                                                                 class='bx bx-select-multiple'></i></span>
                            <button style="font-size: 17px" type="button" class="form-control" aria-label="Text"
                                    onclick="addQuestionType(6)" title="Асуулт нэмэх"> Multiple-choice
                            </button>
                        </div>
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon14"><i style="font-size: 28px" class='bx bx-file'></i></span>
                            <button style="font-size: 17px" type="file" class="form-control" aria-label="Text"
                                    onclick="addQuestionType(7)" title="Асуулт нэмэх"> File upload
                            </button>
                        </div>

                    </div>
                </div>
            </div>
            <!-- Үүсгэсэн маягт -->
            <div class="col-md-4">
                <div class="card mb-4">
                    <h5 class="card-header">Үүсгэсэн маягтууд</h5>
                    <div id="questionForm" class="card-body demo-vertical-spacing demo-only-element">
                        #{list items:objects, as:'question'}
                        #{if question.questionType.id == 1}
                                <a class="list-group-item">
                                    <i class="bx bx-text"></i>
                                    <label id="labelQuestion_${question.id}"> ${question.name.length() == 0? 'Text' :  question.name} </label>
                                    <input value="${question.id}" type="number" style="font-size: 19px" class="hidden" id="question_id">
                                </a>
                        #{/if}
                        #{elseif question.questionType.id == 2}
                                <a class="list-group-item">
                                    <i class="bx bx-calendar"></i>
                                    <label id="labelQuestion_${question.id}"> ${question.name.length() == 0? 'Date' :  question.name} </label>
                                    <input value="${question.id}" type="number" class="hidden" id="question_id">
                                </a>
                            #{/elseif}
                        #{elseif question.questionType.id == 3}
                                <a class="list-group-item">
                                    <i class="bx bx-down-arrow-circle"></i>
                                    <label id="labelQuestion_${question.id}"> ${question.name.length() == 0? 'Dropdown' :  question.name} </label>
                                    <input value="${question.id}" type="number" class="hidden" id="question_id">
                                </a>
                            #{/elseif}
                        #{elseif question.questionType.id == 4}
                                <a class="list-group-item">
                                    <i class="bx bx-radio-circle-marked"></i>
                                    <label id="labelQuestion_${question.id}"> ${question.name.length() == 0? 'Radio' :  question.name} </label>
                                    <input value="${question.id}" type="number" class="hidden" id="question_id">
                                </a>
                            #{/elseif}
                            #{elseif question.questionType.id == 5}
                                <a class="list-group-item">
                                    <i class="bx bx-checkbox"></i>
                                    <label id="labelQuestion_${question.id}"> ${question.name.length() == 0? 'Checkbox' :  question.name} </label>
                                    <input value="${question.id}" type="number" class="hidden" id="question_id">
                                </a>
                            #{/elseif}
                            #{elseif question.questionType.id == 6}
                                <a class="list-group-item">
                                    <i class="bx bx-select-multiple"></i>
                                    <label id="labelQuestion_${question.id}"> ${question.name.length() == 0? 'Multiplechoice' :  question.name} </label>
                                    <input value="${question.id}" type="number" class="hidden" id="question_id">
                                </a>
                            #{/elseif}
                            #{elseif question.questionType.id == 7}
                                <a class="list-group-item">
                                    <i class="bx bx-file"></i>
                                    <label id="labelQuestion_${question.id}"> ${question.name.length() == 0? 'Fileupload' :  question.name} </label>
                                    <input value="${question.id}" type="number" class="hidden" id="question_id">
                                </a>
                            #{/elseif}
                        #{/list}
                    </div>
                </div>
            </div>
            <!--Асуултын дэлгэрэнгүй-->
             <div class="col-md-5">
              <div class="card mb-5">
                <h5 class="card-header">Асуултын дэлгэрэнгүй</h5>
                <div id="questionDetail" class="card-body demo-vertical-spacing demo-only-element"></div>
              </div>
             </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('div#questionForm').css('max-height', screen.height - 235);
        $("div#constQuestionType i#add").remove();
    });

    $("div#questionForm a").on('click', function () {
        $("div#questionForm a").each(function () {
            $(this).removeClass("list-group-item-danger").addClass("list-group-item-light");
        });
        $(this).addClass("list-group-item-danger").removeClass("list-group-item-light");
        var question_id = $(this).find("input#question_id").val();
        showDetail(question_id);
    });
    function showDetail(question_id) {
        $.ajax({
            type: "POST",
            data: {
                qid: question_id,
            },
            url: "/questionDetail",
            success: function(data){
                $("div#questionDetail").html(data);
            }
        });
    }
    function addQuestionType(qt_id) {
        $.ajax({
            type: "POST",
            data: {
                sid: '${research.id}',
                qt_id: qt_id
            },
            url: "/addQuestionType",
            success: function (data) {
                if (data == "success") {
                    console.log("Амжилттай нэмэгдлээ");
                    showResQuestion();
                } else {
                    console.log("Алдаа гарлаа");
                }
            }
        });
    }
    function showResQuestion() {
        $.ajax({
            type: "POST",
            data: {
                sid: '${research.id}'
            },
            url: "/showResQuestion",
            success: function (data) {
                $("div#questionForm").html(data);
            },
        });

    }
    function showQuestion() {
        $.ajax({
            type: "POST",
            data: {
                sid: '${research?.id}'
            },
            url: "/showQuestion",
            success: function (data) {
                $("div#questionForm").html(data);
            }

        });
    }
    function confirmQuestion() {
        $.ajax({
            type: "POST",
            data: {
                sid: '${research.id}',
            },
            url: "/changeStatus",
            success:function (data) {
                if (data == "success") {
                    alert("Амжилттай.");
                    window.location.reload();
                } else {
                    alert("Алдаа гарлаа !!!");
                }
            }
        });
    }

</script>
