<!-- Асуултын дэлгэрэнгүй -->
        <form id="modalForm">
            <div class="panel-body">
                <div class="form-group">
                    <label style="font-size: large">Асуулт</label>
                    <input name="questionId" value="${question.id}" type="text" class="hidden">
                    <input name="questionName" value="${question.name}" type="text"
                           class="form-control"
                           id="questionName" placeholder="Асуултаа бичнэ үү ...">
                </div>
                <br/>
                <div class="form-group">
                    <input name="isRequired" type="checkbox"${(question!=null && question.isRequired)?'checked':''}>
                    Заавал хариулах
                </div>
                <div class="list-group">
                #{if question.questionType.id >= 3}
                    <a class="list-group-item list-group-item-action list-group-item-info">
                        <label> Боломжит хариулт </label>
                        <i id="optionAdd" class='bx bx-add-to-queue' onclick="addOption()"
                           data-toggle="tooltip" data-container="body" title="Хариулт нэмэх"></i>
                    </a>

                    <div id="questionOptions">
                        #{list items:question.questionOptions,as:'option'}
                            <a id="${option.id}" class="list-group-item">
                                <input name="optionId" value="${option.id}" type="text" class="hidden">
                                <input name="optionName" value="${option.name}"
                                       placeholder="Боломжит хариултаа оруулна уу ... " type="text" class="form-control" style="width: 80%;" >
                                <span class="input-group-text" id="basic-addon14"><i class="bx bxs-message-rounded-x" aria-hidden="true"
                                  style="float:right;padding:10px 5px;cursor: pointer;" onclick="deleteOption('${option.id}','${option.id}')"
                                  id="optionRemove" data-toggle="tooltip" data-container="body" title="Хариулт устгах"></i> </span>
                            </a>
                        #{/list}
                    </div>
                #{/if}
                </div>
            </div>
            <div style="text-align: right;margin: 15px">
                <button type="button" class="btn btn-success" onclick="saveQuestion()">Хадгалах
                </button>
                <button type="button" class="btn btn-danger" onclick="deleteQuestion()">Устгах</button>
            </div>
        </form>
<script>
    var options = "", laterQuestions = "";
    #{list items:question.questionOptions,as:'option'}
    options += "<option value=${option.id}>${option.name}</option>";
    #{/list}
    #{list items:laterQuestions,as:'laterQuestion'}
    laterQuestions += "<option value=${laterQuestion.id}>${laterQuestion.name}</option>";
    #{/list}


    $(document).ready(function () {
        // $("form#modalForm button").remove();
        // $("form#modalForm i#optionAdd, i#optionRemove").remove();
        // $('form#modalForm input').attr('readonly', true);
        // $('form#modalForm input[name=isRequired]').attr('disabled', true);

    });
    $("input#questionName").keyup(function () {
        var questionText = this.value;
        $("div#questionForm label#labelQuestion_" + '${question.id}').html(questionText);
    });
    function saveQuestion() {
        if ($('form#modalForm input[name=questionName]').val().length == 0) {
            alert("Асуултаа оруулна уу");
        } else {
            var valid = true;
        #{if question.questionType.id >= 3}
            if ($('div#questionOptions a').length > 0) {
                $('div#questionOptions a').each(function () {
                    if ($(this).find('input[name=optionName]').val().length == 0) {
                        valid = false;
                        alert("Боломжит хариултаа оруулна уу!");
                    }
                });
            } else {
                valid = false;
                alert("Боломжит хариултаа оруул!");
            }
        #{/if}
            if (valid) {
                $.ajax({
                    method: "POST",
                    data: $('form#modalForm').serialize(),
                    url: '/saveOption',
                    success: function (data) {
                        if (data == "success") {
                            alert('Хадгаллаа.');
                            showDetail('${question.id}');
                        } else {
                            alert('Хадгаллаа.');
                        }
                    }
                });
            }
        }
    }
    function deleteQuestion() {
        $.ajax({
            method: "POST",
            data: {
                qid: '${question.id}'
            },
            url: '/deleteQuestion',
            success: function(data) {
                if (data == "success") {
                    alert('Устгагдлаа.');
                    window.location.reload();
                } else {
                    alert('Алдаа гарлаа.');
                }
            }
        });
    }
    #{if question.questionType.id >= 3}
    function addOption() {
        var date = new Date();
        var tt = date.getTime();
        $('div#questionOptions').append('<a id="' + tt + '" class="list-group-item">'+ '<input name="optionId" type="text" class="hidden">'+
                '<input name="optionName" type="text" placeholder="Боломжит хариултаа оруулна уу ... "class="form-control">'+
                '<span class="input-group-text" id="basic-addon14">' +
               '<i class="bx bx-exit " aria-hidden="true" style="float:right; padding:10px 5px; cursor: pointer;"'+
                'onclick= "deleteOption(0, '+tt +')"'+
                'data-toggle="tooltip" data-container="body" title="Хариулт устгах"></i>'+
                '</span>'+
                '</a>');
    }

    function deleteOption(id, atagId) {
        if (id > 0) {
            $.ajax({
                method: "POST",
                data: {
                    oid: id
                },
                url: '/deleteOption',
                success: function(data){
                    if (data == "success") {
                        alert('Устгагдлаа.');
                        showDetail('${question?.id}');
                    } else {
                        alert('Алдаа гарлаа.');
                    }
                }
                });
               } else {
                alert('Устгагдлаа.');
            }

        $('form#modalForm a#' + atagId).remove();
    }
    #{/if}

        $('[data-toggle="tooltip"]').tooltip();
</script>