<div class="list-group">
    <div class="list-group">
    #{list items:question,as:'question'}
        #{if question.questionType.id == 1}
            <a class="list-group-item">
                <i class="bx bx-text"></i>
                <label id="labelQuestion_${question.id}"> ${question.name.length() == 0? 'Text' :  question.name} </label>
                <input value="${question.id}" type="number" class="hidden" id="question_id">
            </a>
        #{/if}
        #{elseif question.questionType.id == 2}
            <a class="list-group-item">
                <i class="bx bx-calendar"></i>
                <label id="labelQuestion_${question.id}"> ${question.name.length() == 0? 'Date' :  question.name} </label>
                <input value="${question.id}" type="number" class="hidden" id="question_id">
            </a>
        #{/elseif}
        #{elseif question.questionType.id == 3}
            <a class="list-group-item">
                <i class="bx bx-down-arrow-circle"></i>
                <label id="labelQuestion_${question.id}"> ${question.name.length() == 0? 'Dropdown' :  question.name} </label>
                <input value="${question.id}" type="number" class="hidden" id="question_id">
            </a>
        #{/elseif}
        #{elseif question.questionType.id == 4}
            <a class="list-group-item">
                <i class="bx bx-radio-circle-marked"></i>
                <label id="labelQuestion_${question.id}"> ${question.name.length() == 0? 'Radio' :  question.name} </label>
                <input value="${question.id}" type="number" class="hidden" id="question_id">
            </a>
        #{/elseif}
        #{elseif question.questionType.id == 5}
            <a class="list-group-item">
                <i class="bx bx-checkbox"></i>
                <label id="labelQuestion_${question.id}"> ${question.name.length() == 0? 'Checkbox' :  question.name} </label>
                <input value="${question.id}" type="number" class="hidden" id="question_id">
            </a>
        #{/elseif}
        #{elseif question.questionType.id == 6}
            <a class="list-group-item">
                <i class="bx bx-select-multiple"></i>
                <label id="labelQuestion_${question.id}"> ${question.name.length() == 0? 'Multiplechoice' :  question.name} </label>
                <input value="${question.id}" type="number" class="hidden" id="question_id">
            </a>
        #{/elseif}
        #{elseif question.questionType.id == 7}
            <a class="list-group-item">
                <i class="bx bx-file"></i>
                <label id="labelQuestion_${question.id}"> ${question.name.length() == 0? 'Fileupload' :  question.name} </label>
                <input value="${question.id}" type="number" class="hidden" id="question_id">
            </a>
        #{/elseif}

    #{/list}
    </div>
</div>
<script>
    $("div#questionForm a").on('click', function () {
        $("div#questionForm a").each(function () {
            $(this).removeClass("list-group-item-danger").addClass("list-group-item-light");
        });
        $(this).addClass("list-group-item-danger").removeClass("list-group-item-light");
        var question_id = $(this).find("input#question_id").val();
        showDetail(question_id);
    });
</script>
