#{extends 'CRUD/layout.html' /}
<section class="ls section_padding_50">
    <div class="container">

    #{form action:@create(id), enctype:'multipart/form-data',class:'form-horizontal'}
        <div class="row">
            <div class="col-md-12 text-right">
                <div class="container-xxl flex-grow-1 container-p-y">
                    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Мал эмнэлгийн нэгж/</span> МЭН-ийн
                        судалгаа</h4>

                    <!-- search modal -->
                    <div class="modal" tabindex="-1" role="dialog" aria-labelledby="search_modal" id="search_modal">
                        <div class="widget widget_search">
                            <form method="get" class="searchform form-inline" action="/">
                                <div class="form-group">
                                    <input type="text" value="" name="search" class="form-control" placeholder="Search keyword"
                                           id="modal-search-input">
                                </div>
                                <button type="submit" class="theme_button">Search</button>
                            </form>
                        </div>
                    </div>

                    <!---------------------->
                    <div class="col-md-10">
                        <div class="card mb-4">
                            <h5 class="card-header">Судалгааны нэр</h5>
                            <div class="card-body demo-vertical-spacing demo-only-element">
                                <div class="input-group">
                                    <input type="text" name="object.name" id="object_name" value="${object?.name}"
                                           class="form-control" placeholder="МЭН-ийн судалгааны нэр оруулна уу">
                                </div>
                            </div>
*{                            <h5 class="card-header">Судалгааны төрөл</h5>}*
*{                            <div class="card-body demo-vertical-spacing demo-only-element">}*
*{                                <div class="input-group">}*
*{                                    <select id="object_researchCategory" name="object.researchCategory.id"}*
*{                                            class="form-control "}*
*{                                            data-live-search="true">}*
*{                                        <option value="0">Сонгох</option>}*
*{                                        #{list items:researchCategory,as:'researchCategory'}}*
*{                                            <option value="${researchCategory?.id}"}*
*{                                                #{if object?.researchCategory?.id==researchCategory.id}}*
*{                                                #{/if}>}*
*{                                            ${researchCategory}</option>}*
*{                                        #{/list}}*
*{                                    </select>}*

*{                                </div>}*
*{                            </div>}*


                        <h5 class="card-header">Эхлэх хугацаа</h5>
                        <div class="card-body demo-vertical-spacing demo-only-element">
                            <div class="input-group">
                                <input type="date" name="object.startDate" id="object_startDate" value="${object?.startDate?.format("yyyy-MM-dd")}"
                                       class="form-control">
                            </div>
                        </div>
                        <h5 class="card-header">Дуусах хугацаа</h5>
                        <div class="card-body demo-vertical-spacing demo-only-element">
                            <div class="input-group">
                                <input type="date" name="object.endDate" id="object_endDate" value="${object?.endDate?.format("yyyy-MM-dd")}"
                                       class="form-control">
                            </div>
                        </div>
                            <h5 class="card-header">Судалгааны төлөв</h5>
                            <div class="card-body demo-vertical-spacing demo-only-element">
                                <div class="input-group">
                                    <select id="object_researchState" name="object.researchState.id"
                                            class="form-control blank-tick"
                                            data-live-search="true">
                                        <option value="0">Сонгох</option>
                                        #{list items:researchState,as:'researchState'}
                                            <option value="${researchState.id}"
                                                #{if object?.researchState?.id==researchState.id}
                                                #{/if}>
                                            ${researchState}</option>
                                        #{/list}
                                    </select>
                                </div>
                            </div>

                    </div>
                        <input class="btn btn-success" type="submit" name="_save"
                               value="&{'crud.save', type.modelName}"/>
                </div>
            </div>
        </div>
    #{/form}
    </div>
    </div>
</section>


<script>
    $("section#breadcrumbs").html("");
</script>