

#{extends 'CRUD/layout.html' /}
#{set activeMenu: 'Researchs'/}

<div class="content-wrapper">
    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Мал эмнэлгийн нэгж /</span>МЭН-ийн судалгаа</h4>
        <nav
                class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
                id="layout-navbar"
        >

            <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
                <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                    <i class="bx bx-menu bx-sm"></i>
                </a>
            </div>

            <div class="navbar-nav justify-content-between">
                <select id="year" class="form-control"
                        data-live-search="true">
                #{list items:years,as:'year'}
                    <option value="${year}">${year}</option>
                #{/list}
                </select>
            </div>
            <br/>
                <div class="navbar-nav flex-row align-items-center ms-auto">
*{                    <i class="bx bx-search fs-4 lh-0"></i>}*
                    <input type="text" id="object_search" class="form-control" placeholder="МЭН-ийн судалгааны нэр">

                    <div class="navbar-nav flex-row align-items-center ms-auto">
                        <div>
                        <button type="button" onclick="list(1)" class="btn btn-outline-secondary">Хайх</button>
                        </div>
                    </div>
                </div>
                <br/>

            <ul class="navbar-nav flex-row align-items-center ms-auto">
                    <li class="nav-item navbar-dropdown dropdown-user dropdown">
                        <a href="@{blank()}" class="btn btn-primary">МЭН-ийн судалгаа нэмэх</a>
                    </li>
                </ul>
        </nav>
        <br>
        <section class="ls section_padding_50">
            <!-- Basic Bootstrap Table -->
            <div class="card">
                <div class="table-responsive text-nowrap">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Судалгааны нэр</th>
                            <th>Судалгааны төрөл</th>
                            <th>Асуултууд</th>
                            <th>Судалгааны ажилтан</th>
                            <th>Хариулсан</th>
                            <th>Огноо</th>
                            <th>Төлөв</th>
                            <th>Үйлдэл</th>
                        </tr>
                        </thead>
                    %{count=1}%
                    #{list items:objects,as:'object'}
                        <tr>
                            <td>${count}</td>
                            <td>${object?.name}</td>
                            <td>МЭҮН-ийн тоног төхөөрөмжийн тухай</td>
                            <td><a href="@{controllers.Questions.list(object.id)}">${object.question.size()}</a></td>
                            <td>${object.u}</td>
                            <td><a href="@{controllers.QuestionAnswers.list(object.id)}">${object.questionAnswer.size()}</a></td>
                            <td>
                            ${object.startDate?.format("yyyy-MM-dd")}-<br/> ${object.endDate?.format("yyyy-MM-dd")}
                            </td>
                            <td>${object?.researchState}</td>
                            <td><a href="@{controllers.Researchs.blank(object.id)}"><i
                                    class="fa fa-pencil"></i> Засах</a></td>
                        </tr>
                    %{count++}%
                    #{/list}
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>

<script>
    $("section#breadcrumbs").html("");
    var startDate = "";
    var endDate = "";

    var selectedType = "${selectedType}";
    $('div#btn-team button').on('click', function () {
        $('div#btn-team button').each(function () {
            $(this).removeClass("btn-primary").addClass("btn-default");
        });
        $(this).addClass("btn-primary").removeClass("btn-default");
        selectedType = $(this).attr('ttype');
        list(selectedType, 1);
    });

    function list(selectedType, page) {
        var st = $('div#status-row');
        $.ajax({
            type: "POST",
            data: {
                year: st.find('#year').val(),
                selectedType: selectedType,
                userTeam: st.find("#userTeam").val(),
                diseaseName: st.find("#diseaseName").val(),
                researchName: st.find("#researchName").val(),
                CurrentPageNumber: page
            },
            url: "/researchsLoad",
           success: function (data) {
               $("div#List").html(data);

           }
        });
    }


    // $(window).load(function () {
    //     list(1);
    // });
    //
    // function list(page) {
    //     var st = $('div#status-row');
    //     $.ajax({
    //         type: "POST",
    //         data: {
    //             year: st.find('select#year').val(),
    //             search: st.find('input#object_search').val(),
    //             CurrentPageNumber: page,
    //
    //         },
    //         url: "/searchLoad",
    //        success: function (data) {
    //            $("div#List").html(data);
    //        }
    //     });
    // }
</script>
</div>

