#{extends 'CRUD/layout.html' /}
#{alertMessages /}
<link href="/assets/plugins/datetimepicker/jquery.datetimepicker.css" rel="stylesheet">
<script src="/assets/plugins/datetimepicker/jquery.datetimepicker.js"></script>

<link rel="stylesheet" media="screen" href="@{'/assets/plugins/fine-uploader/fine-uploader-gallery.css'}">
<script type="text/template" id="qq-template-gallery">
    <div class="qq-uploader-selector qq-uploader qq-gallery" qq-drop-area-text="Файлаа энд чирнэ үү">
        <div class="qq-total-progress-bar-container-selector qq-total-progress-bar-container">
            <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                 class="qq-total-progress-bar-selector qq-progress-bar qq-total-progress-bar"></div>
        </div>
        <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
            <span class="qq-upload-drop-area-text-selector"></span>
        </div>
        <div class="qq-upload-button-selector qq-upload-button">
            <div>Файл сонгох</div>
        </div>
        <span class="qq-drop-processing-selector qq-drop-processing">
                <span>Processing dropped files...</span>
                <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
            </span>
        <ul class="qq-upload-list-selector qq-upload-list" role="region" aria-live="polite"
            aria-relevant="additions removals">
            <li>
                <span role="status" class="qq-upload-status-text-selector qq-upload-status-text"></span>

                <div class="qq-progress-bar-container-selector qq-progress-bar-container">
                    <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                         class="qq-progress-bar-selector qq-progress-bar"></div>
                </div>
                <span class="qq-upload-spinner-selector qq-upload-spinner"></span>

                <div class="qq-thumbnail-wrapper">
                    <img class="qq-thumbnail-selector" qq-max-size="120" qq-server-scale>
                </div>
                <button type="button" class="qq-upload-cancel-selector qq-upload-cancel">X</button>
                <button type="button" class="qq-upload-retry-selector qq-upload-retry">
                    <span class="qq-btn qq-retry-icon" aria-label="Retry"></span>
                    Retry
                </button>

                <div class="qq-file-info">
                    <div class="qq-file-name">
                        <span class="qq-upload-file-selector qq-upload-file"></span>
                        <span class="qq-edit-filename-icon-selector qq-edit-filename-icon"
                              aria-label="Edit filename"></span>
                    </div>
                    <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
                    <span class="qq-upload-size-selector qq-upload-size"></span>
                    <button type="button" class="qq-btn qq-upload-delete-selector qq-upload-delete">
                        <span class="qq-btn qq-delete-icon" aria-label="Delete"></span>
                    </button>
                    <button type="button" class="qq-btn qq-upload-pause-selector qq-upload-pause">
                        <span class="qq-btn qq-pause-icon" aria-label="Pause"></span>
                    </button>
                    <button type="button" class="qq-btn qq-upload-continue-selector qq-upload-continue">
                        <span class="qq-btn qq-continue-icon" aria-label="Continue"></span>
                    </button>
                </div>
            </li>
        </ul>

        <dialog class="qq-alert-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">Close</button>
            </div>
        </dialog>

        <dialog class="qq-confirm-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">No</button>
                <button type="button" class="qq-ok-button-selector">Yes</button>
            </div>
        </dialog>

        <dialog class="qq-prompt-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <input type="text">

            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">Cancel</button>
                <button type="button" class="qq-ok-button-selector">Ok</button>
            </div>
        </dialog>
    </div>
</script>
<script src="@{'/assets/plugins/fine-uploader/fine-uploader.min.js'}" type="text/javascript"></script>

<section class="breadcrumbs_section cs  gradient table_section table_section_md">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center text-md-left">
                <h2 class="thin">&{'Catalog'}</h2>
            </div>
        </div>
    </div>
</section>

<section class="ls section_padding_50">
    <div class="container" id="main-content">
        <div class="row">
        #{form action:@create(id), enctype:'multipart/form-data',class:'form-horizontal'}
            <div class="row">

                <div class="form-group">
                    <label class="col-sm-3 control-label">Нийлүүлэгч байгууллага <span
                            class="asterisk">*</span></label>

                    <div class="col-sm-6">
                        <select id="object_supplier" name="object.supplier.id"
                                class="form-control show-tick"
                                data-live-search="true">
                            <option value="0">Сонгох</option>
                            #{list items:suppliers,as:'supplier'}
                                <option value="${supplier.id}"
                                    #{if object?.supplier?.id==supplier.id} selected#{/if}>${supplier}</option>
                            #{/list}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Ангилал <span
                            class="asterisk">*</span></label>

                    <div class="col-sm-6">
                        <select id="object_category" name="object.category.id"
                                class="form-control show-tick"
                                data-live-search="true">
                            <option value="0">Сонгох</option>
                            #{list items:categories,as:'category'}
                                <option value="${category.id}" #{if object?.category?.id==category.id}
                                        selected#{/if}>${category}</option>
                            #{/list}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Бүтээгдэхүүний төрөл <span
                            class="asterisk">*</span></label>

                    <div class="col-sm-6">
                        <select id="object_productType" name="object.productType.id"
                                class="form-control show-tick"
                                data-live-search="true">
                            <option value="0">Сонгох</option>
                            #{list items:productTypes,as:'productType'}
                                <option value="${productType.id}" #{if object?.productType?.id==productType.id}
                                        selected#{/if}>${productType}</option>
                            #{/list}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Бүтээгдэхүүн <span
                            class="asterisk">*</span></label>

                    <div class="col-sm-6">
                        <select id="object_productType" name="object.product.id"
                                class="form-control show-tick"
                                data-live-search="true">
                            <option value="0">Сонгох</option>
                            #{list items:products,as:'product'}
                                <option value="${product.id}" #{if object?.product?.id==product.id}
                                        selected#{/if}>${product}</option>
                            #{/list}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Хэмжих нэгж <span
                            class="asterisk">*</span></label>

                    <div class="col-sm-6">
                        <select id="object_measure" name="object.measure.id"
                                class="form-control show-tick"
                                data-live-search="true">
                            <option value="0">Сонгох</option>
                            #{list items:measures,as:'measure'}
                                <option value="${measure.id}" #{if object?.measure?.id==measure.id}
                                        selected#{/if}>${measure}</option>
                            #{/list}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Хамгийн бага хэмжээ <span
                            class="asterisk">*</span></label>

                    <div class="col-sm-6">
                        <input type="number" class="form-control" id="object_minSize"
                               name="object.minSize" value="${object?.minSize}" min="0"
                               placeholder="Хамгийн бага хэмжээ ">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Хамгийн их хэмжээ <span
                            class="asterisk">*</span></label>

                    <div class="col-sm-6">
                        <input type="number" class="form-control" id="object_maxSize"
                               name="object.maxSize" value="${object?.maxSize}" min="0"
                               placeholder="Хамгийн их хэмжээ ">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Үнэ <span
                            class="asterisk">*</span></label>

                    <div class="col-sm-6">
                        <input type="number" class="form-control" id="object_price"
                               name="object.price" value="${object?.price}" min="0"
                               placeholder="Үнэ ">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Тоо ширхэг <span
                            class="asterisk">*</span></label>

                    <div class="col-sm-6">
                        <input type="number" class="form-control" id="object_count"
                               name="object.count" value="${object?.count}" min="0"
                               placeholder="Тоо ширхэг ">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Хүргэлт хийх огноо <span
                            class="asterisk">*</span></label>

                    <div class="col-sm-6">
                        <input id="deliveryDate" name="object.deliveryDate" readonly class="form-control" type="text"
                               placeholder="Хүргэлт хийх огноо сонгоно уу..."
                               value="${object?.deliveryDate?.format('yyyy-MM-dd')}"
                               style="font-size: 14px!important; cursor: pointer"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Хүргэлтийн үнэ</label>

                    <div class="col-sm-6">
                        <input type="number" class="form-control" id="object_deliveryPrice"
                               name="object.deliveryPrice" value="${object?.deliveryPrice}" min="0"
                               placeholder="Хүргэлтийн үнэ ">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Нэмэлт мэдээлэл</label>

                    <div class="col-sm-6">
                        <textarea class="form-control" name="object.additional" id="object_additional"
                                  placeholder="Нэмэлт мэдээлэл бичнэ үү...">${object?.additional?.raw()}</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Зураг <span
                            class="asterisk">*</span></label>

                    <div class="col-sm-6">
                        <div id="attach-input"></div>
                        <div id="fine-uploader-gallery"></div>
                    </div>
                </div>
                *{#{if object != null}}*
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Төлөв </label>
                        <div class="col-md-2">
                            <label>
                                <input type="radio" id="object_isMen"
                                       name="object.deleteFlag" value="0"
                                       #{if !object?.deleteFlag}checked#{/if}
                                       style=""/>
                                <span class="description">Идэвхитэй</span>
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label>
                                <input type="radio" name="object.deleteFlag"
                                       style=""
                                       #{if object?.deleteFlag}checked #{/if} value="1"/>
                                <span class="description">Идэвхигүй</span>
                            </label>
                        </div>
                    </div>
                *{#{/if}}*
            </div>
            <div class="row">
                <div class="col-md-12 text-right">
                    <input class="btn btn-success" id="saveBtn" type="submit" name="_save"
                           value="&{'crud.save', type.modelName}"/>
                </div>
            </div>
        #{/form}
        </div>
    </div>
</section>


<script>
    $("section#breadcrumbs").html("");
    jQuery('#deliveryDate').datetimepicker({lang: 'mn', timepicker: false, format: "Y-m-d", minDate: '0'});

    var attachedFiles = [];
    var galleryUploader = new qq.FineUploader({
        element: document.getElementById("fine-uploader-gallery"),
        template: 'qq-template-gallery',
        debug: true,
        request: {
            params: {uploadPath: '${controllers.Consts.uploadCatalogPath}'},
            endpoint: '@{FileUploader.uploadFileNew}'
        },
        deleteFile: {
            enabled: true,
            method: 'POST',
            endpoint: '@{FileUploader.deleteUploadFile}'
        },
        thumbnails: {
            placeholders: {
                waitingPath: '/assets/plugins/fine-uploader/placeholders/waiting-generic.png',
                notAvailablePath: '/assets/plugins/fine-uploader/placeholders/not_available-generic.png'
            }
        },
        validation: {
            allowedExtensions: ['jpeg', 'jpg', 'png']
        },
        session: {
            endpoint: '@{FileUploader.getUploadedFiles}',
            params: {type: 'Catalog', id: ${object!=null?object.id:0}}
        },
        callbacks: {
            onComplete: function (id, name, responseJSON, xhr) {
                console.log("responseJSON:" + JSON.stringify(responseJSON));
                this.setDeleteFileParams({
                    fileDir: responseJSON.filedir,
                    extension: responseJSON.extension
                }, id);
                attachedFiles.push({
                    filedir: responseJSON.filedir,
                    id: id,
                    filename: responseJSON.filename,
                    filesize: responseJSON.filesize,
                    extension: responseJSON.extension
                });
                for (var key in attachedFiles) {
                    if (attachedFiles.hasOwnProperty(key)) {
                        var attachedFile = attachedFiles[key];
                        console.log("attachedFile:" + attachedFile + " id: " + attachedFile.id + " filename: " + attachedFile.filename);
                    }
                }
            },
            onDelete: function (id) {
                for (var key in attachedFiles) {
                    var attachedFile = attachedFiles[key];
                    if (attachedFile.id == id) {
                        delete attachedFiles[key];
                        console.log("id:" + id);
                    }
                }
            },
            onSessionRequestComplete: function (response, success, xhr) {
                console.log("onSessionRequestComplete:" + JSON.stringify(response));
                for (var key in response) {
                    attachedFiles.push({
                        filedir: response[key].filedir,
                        id: key,
                        filename: response[key].name,
                        filesize: response[key].size,
                        extension: response[key].extension
                    });
                    this.setDeleteFileParams({
                        fileDir: response[key].filedir,
                        extension: response[key].extension
                    }, key);
                }
            }
        }
    });

    $('div#main-content form').on('submit', function () {
        var saveBtn = $('div#main-content button#saveBtn');
        saveBtn.append("<img src='/public/images/loading.gif' style='margin-left: 4px'>");
        saveBtn.attr("disabled", "disabled");
        var valid = false;
        if ($('select#object_supplier').val() == 0)showErrorMessage("Нийлүүлэгч байгууллага сонгоно уу!");
        else if ($('select#object_category').val() == 0)showErrorMessage("Ангилал сонгоно уу!");
        else if ($('select#object_productType').val() == 0)showErrorMessage("Бүтээгдэхүүний төрөл сонгоно уу!");
        else if ($('select#object_product').val() == 0)showErrorMessage("Бүтээгдэхүүн сонгоно уу!");
        else if ($('select#object_measure').val() == 0)showErrorMessage("Хэмжих нэгж сонгоно уу!");
        else if ($('input#object_minSize').val().length == 0)showErrorMessage("Хамгийн бага хэмжээ оруулна уу!");
        else if ($('input#object_maxSize').val().length == 0)showErrorMessage("Хамгийн их хэмжээ оруулна уу!");
        else if ($('input#object_price').val().length == 0)showErrorMessage("Үнэ оруулна уу!");
        else if ($('input#object_count').val().length == 0)showErrorMessage("Тоо ширхэг оруулна уу!");
        else if ($('input#deliveryDate').val().length == 0)showErrorMessage("Хүргэлт хийх огноо сонгоно уу!");
        else valid = true;
        $('div#attach-input').html("");
        var currentInstance = attachedFiles;
        for (var key in currentInstance) {
            var attachedFile = currentInstance[key];
            $('div#attach-input').append("<input type=hidden name=filename value=" + attachedFile.filename + " >" +
                    "<input type=hidden name=filedir value=" + attachedFile.filedir + " >" +
                    "<input type=hidden name=filesize value=" + attachedFile.filesize + " >" +
                    "<input type=hidden name=extension value=" + attachedFile.extension + " >");
        }
        if (!valid) {
            saveBtn.find("img").remove();
            saveBtn.removeAttr("disabled");
        }
        return valid;
    });


</script>