#{extends 'CRUD/layout.html' /}
<style>
    .row {
        margin-top: 15px !important;
    }
</style>
<section class="breadcrumbs_section cs  gradient table_section table_section_md">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center text-md-left">
                <h2 class="thin"></h2>
            </div>
        </div>
    </div>
</section>
<section id="about" class="ls section_padding_100 columns_padding_25">
    <div class="container">

        <div class="row">

            <div class="row vertical-tabs">
                <div class="col-sm-4">

                    <ul class="nav" role="tablist">
                        <li class="active">
                            <a href="#vertical-tab1" role="tab" data-toggle="tab">
                            #{if object.firstName !=null}
                            ${object}
                            #{/if}
                            #{else }
                            ${object.username.toUpperCase()}
                            #{/else}
                            </a>
                        </li>
                        <li>
                            <a href="#vertical-tab2" role="tab" data-toggle="tab">
                                <i class="fa fa-align-justify"></i>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                Захиалгын түүх </a>
                        </li>
                        <li>
                            <a href="#vertical-tab3" role="tab" data-toggle="tab">
                                <i class="fa fa-info"></i>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                Нэмэлт мэдээлэл</a>
                        </li>

                    </ul>
                </div>

                <div class="col-sm-8">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="vertical-tab1">
                            <form action="@{save(object.id)}" class="form-horizontal" role="form" id="settings"
                                  method="post"
                                  accept-charset="utf-8" enctype="multipart/form-data">
                                <strong> ПРОФАЙЛ </strong>
                                <hr>
                                <div class="row">
                                    <div class="col-md-4">Эцэг, эхийн нэр:</div>
                                    <div class="col-sm-6">
                                        <input type="text" aria-required="true" size="30" value="${object.lastName}"
                                               name="object.lastName"
                                               id="lastname" class="form-control" placeholder="Эцэг, эхийн нэр">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">Нэр:</div>
                                    <div class="col-sm-6">
                                        <input type="text" aria-required="true" size="30"
                                               value="${object.firstName}"
                                               name="object.firstName"
                                               id="firstName" class="form-control" placeholder="Нэр">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">Хэрэглэгчийн нэр:</div>
                                    <div class="col-sm-6">
                                        <input type="text" aria-required="true" size="30" value="${object.username}"
                                               name="object.username"
                                               id="username" class="form-control" placeholder="Хэрэглэгчийн нэр">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">Утас:</div>
                                    <div class="col-sm-6">
                                        <input type="text" aria-required="true" size="30" value="${object.phone}"
                                               name="object.phone"
                                               id="phone" class="form-control" placeholder="Утас">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4"></div>
                                    <div class="col-sm-6">
                                        <button type="submit" class="theme_button color2">Хадгалах</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $("section#breadcrumbs").html("");
    #{if object.id==user.id}
    $('button#btnChangePassword').click(function () {
        $(this).find("i").removeClass().addClass("fa fa-spinner faa-spin animated");
        $.ajax({
            type: "POST",
            data: {
                oldPass: $('input#password_old').val(),
                newPass: $('input#password_new').val(),
                newRepeatPass: $('input#password_repeat').val()
            }, url: "/userSavePassword"
        }).success(
                function (data) {
                    if (data == "success")
                        showSuccessMessage("Нууц үг амжилттай солигдлоо!");
                    else
                        showErrorMessage(data);
                    $('button#btnChangePassword').find("i").removeClass().addClass("fa fa-check");
                });
    });

    $("#changePassword").click(function () {
        if ($(this).is(':checked')) {
            $("#password-input").show();
        } else {
            $("#password-input").hide();
        }
    });
    #{/if}

    #{if flash.error || error}
    showErrorMessage('${error ?: flash.error}');
    #{/if}
</script>