#{extends 'CRUD/layout.html' /}
#{set activeMenu: 'Baiguullagas'/}
#{fancybox-config /}
<style>
    div#status-row .bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
        width: 100%;
        min-width: inherit;
    }

    div#status-row div {
        margin-bottom: 2px;
    }

    #main-content .col-md-2 span,
    #main-content .col-md-2 input,
    #main-content .col-md-2 .btn {
        font-size: 11px;
    }
</style>
<script type="text/javascript" src="@{'assets/js/plugins/tables/footable/footable.min.js'}"></script>
<script type="text/javascript" src="@{'/assets/js/pages/table_responsive.js'}"></script>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row" id="status-row">
                    <div class="col-md-12">
                        <h5><b>${object.name}</b> дэлгэрэнгүй мэдээлэл </h5>
                    </div>
                </div>
            </div>
            <div class="panel-body">

                <div class="row">
                    <div class="col-md-6">
                        <div class="content-group">
                            <h7 class="text-semibold">Байгуулагын нэр</h7>
                            <input type="text" class="form-control" disabled
                                   value="${object.name}">
                        </div>

                        <div class="content-group">
                            <h7 class="text-semibold">Регистрийн дугаар</h7>
                            <input type="text" class="form-control" disabled
                                   value="${object.registerNum}">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="content-group">
                            <h7 class="text-semibold">Байгуулагын төрөл</h7>
                            <input type="text" class="form-control" disabled
                                   value="${object.baiguullagiinTorol}">
                        </div>

                        <div class="content-group">
                            <h7 class="text-semibold">Хаяг</h7>
                            <input type="text" class="form-control" disabled
                                   value="${object?.aimag}, ${object?.sumName}, ${object?.bag}">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="content-group">
                            <h7 class="text-semibold">Байгууллагын ажилтан</h7>
                            <table class="table-bordered table-xxs" style="width: 100%">
                                <thead>
                                <tr>
                                    <th data-hide="phone">№</th>
                                    <th data-toggle="true">Эцэг/эхийн</th>
                                    <th data-toggle="true">Нэр</th>
                                    <th data-toggle="true">Регистр</th>
                                    <th data-hide="phone,tablet">Утас</th>
                                    <th data-hide="phone,tablet">Имэйл</th>
                                    <th data-hide="phone,tablet">Системд нэвтрэх нэр</th>
                                </tr>
                                </thead>
                                <tbody>
                                %{count=1;}%
                                #{list items:object.getUsers(),as:'us'}
                                <tr>
                                    <td>${count}</td>
                                    <td>${us.lastName}</td>
                                    <td>${us.firstName}</td>
                                    <td>${us.registerNum}</td>
                                    <td>${us.phone}</td>
                                    <td>${us.email}</td>
                                    <td>${us.username}</td>
                                </tr>
                                %{count++}%
                                #{/list}
                                </tbody>
                            </table>
                        </div>
                    </div>

                #{if object.teamType.id == 4}
                    <div class="col-md-12">
                        <div class="content-group">
                            <h7 class="text-semibold">Үйл ажиллагаа явуулах гэрээт сумууд</h7>
                            <table class="table-bordered table-xxs" style="width: 100%">
                                <thead>
                                <tr>
                                    <th data-hide="phone">№</th>
                                    <th data-toggle="true">Аймаг</th>
                                    <th data-toggle="true">Сум</th>
                                </tr>
                                </thead>
                                <tbody>
                                %{count=1;}%
                                    #{list items:object.getSumTeams(),as:'sumTeam'}
                                    <tr>
                                        <td>${count}</td>
                                        <td>${sumTeam.sumName.aimag}</td>
                                        <td>${sumTeam.sumName}</td>
                                    </tr>
                                    %{count++}%
                                    #{/list}
                                </tbody>
                            </table>
                        </div>
                    </div>
                #{/if}
                </div>
            </div>
        </div>
    </div>
</div>

#{extends 'CRUD/layout.html' /}
<section class="ls section_padding_50">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-md-right">
                <div class="container-xxl flex-grow-1 container-p-y">
                    <h2 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"></span>Байгууллага</h2>
                </div>
                <div class="card-md-8 text-left" style="font-size:19px">
                    <div class="card mb-4" style="padding-left:3%">
                    #{form action:@save(object.id), enctype:'multipart/form-data', class:'form-horizontal'}
                        #{crud.form /}
                        <div class="text-left" style="margin-top: 12px">
                            <input class="btn btn-secondary" type="submit" name="_save" value="&{'crud.save', type.modelName}"/>
                        </div>
                    #{/form}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $("section#breadcrumbs").html("");
</script>