#{extends 'CRUD/layout.html' /}
<section class="ls section_padding_50">
    <div class="container">

    #{form action:@create(id), enctype:'multipart/form-data',class:'form-horizontal'}
        <div class="row">
        <div class="col-md-12 text-right">
                <div class="container-xxl flex-grow-1 container-p-y">
                    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Байгууллагын сан /</span> Байгууллага нэмэх</h4>
                    <div class="col-md-10">
                        <div class="card mb-4">
                            <h5 class="card-header">Байгууллагын нэр</h5>
                            <div class="card-body demo-vertical-spacing demo-only-element">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="object_name"
                                           name="object.name" value="${object?.name}"
                                           placeholder="Байгууллагын нэр">
                                </div>
                            </div>
                            <h5 class="card-header">Байгууллагын регистр</h5>
                            <div class="card-body demo-vertical-spacing demo-only-element">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="object_registerNum"
                                           name="object.registerNum" value="${object?.registerNum}"
                                           placeholder="Байгууллагын регистр">
                                </div>
                            </div>
                            <h5 class="card-header">Байгууллагын төрөл</h5>
                            <div class="card-body demo-vertical-spacing demo-only-element">
                                <div class="input-group">
                                    <select id="object_baiguullagiinTorol" name="object.baiguullagiinTorol.id"
                                            class="form-control blank-tick"
                                            data-live-search="true">
                                        <option value="0">Сонгох</option>
                                        #{list items:baiguullagiinTorols,as:'baiguullagiinTorol'}
                                            <option value="${baiguullagiinTorol.id}"
                                                #{if object?.baiguullagiinTorol?.id==baiguullagiinTorol.id}
                                                #{/if}>
                                            ${baiguullagiinTorol}</option>
                                        #{/list}
                                    </select>

                                </div>
                            </div>
                            <h5 class="card-header">Аймаг</h5>
                            <div class="card-body demo-vertical-spacing demo-only-element">
                                <div class="input-group">
                                    <select id="object_aimag" name="object.aimag.id"
                                            class="form-control blank-tick"
                                            data-live-search="true">
                                        <option value="0">Сонгоогүй байна</option>
                                        #{list items:aimags,as:'aimag'}
                                            <option value="${aimag.id}"
                                                #{if object?.aimag?.id==aimag.id}
                                                #{/if}>
                                            ${aimag}</option>
                                        #{/list}
                                    </select>
                                </div>
                            </div>
                            <h5 class="card-header">Сум</h5>
                            <div class="card-body demo-vertical-spacing demo-only-element">
                                <div class="input-group">
                                    <select id="object_sumName" name="object.sumName.id"
                                             class="form-control blank-tick" data-live-search="true">
                                    <option value="0">Сонгоогүй байна</option>
                                    #{if object != null}
                                        #{list items:object.aimag.sumNames,as:'sumName'}
                                            <option value="${sumName.id}" #{if object?.sumName?.id==sumName.id}
                                                    selected#{/if}>${sumName}</option>
                                        #{/list}
                                    #{/if}
                                </select>
                                </div>
                            </div>
                            <h5 class="card-header">Баг</h5>
                            <div class="card-body demo-vertical-spacing demo-only-element">
                                <div class="input-group">
                                    <select id="object_bag" name="object.bag.id"
                                            class="form-control blank-tick"
                                            data-live-search="true">
                                        <option value="0">Сонгоогүй байна</option>
                                        #{if object != null}
                                            #{list items:object.sumName.bags,as:'bag'}
                                                <option value="${bag.id}" #{if object?.bag?.id==bag.id}
                                                        selected#{/if}>${bag}</option>
                                            #{/list}
                                        #{/if}
                                    </select>
                                </div>
                            </div>
                            <h5 class="card-header">Ажилтны тоо</h5>
                            <div class="card-body demo-vertical-spacing demo-only-element">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="object_aToo"
                                           name="object.aToo" value="${object?.aToo}"
                                           placeholder="Ажилтны тоо">
                                </div>
                            </div>
                        </div>
                        <input class="btn btn-secondary" type="submit" name="_save"
                               value="&{'crud.save', type.modelName}"/>
                    </div>
                </div>
            </div>
        </div>
    #{/form}
    </div>
</section>
<script>

    $('select#object_aimag').on('change', function () {
        if ($(this).val() > 0) {
            $.ajax({
                type: "POST",
                data: "id=" + $(this).val(),
                url: "/loadSumName",
                success: function (data) {
                    $('select#object_sumName').html(data);
                }
            });
        }
    });
    $('select#object_sumName').on('change', function () {

        if ($(this).val() > 0) {
            $.ajax({
                type: "POST",
                data: "id=" + $(this).val(),
                url: "/loadBagName",
                success: function (data) {
                    console.log(data)
                    $('select#object_bag').html(data);
                }
            });
        }
    });
</script>