#{extends 'CRUD/layout.html' /}
<section class="ls section_padding_50">
    <div class="container">

    #{form action:@create(id), enctype:'multipart/form-data',class:'form-horizontal'}
    <div class="row">
        <div class="col-md-12 text-right">
            <div class="container-xxl flex-grow-1 container-p-y">
                <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Системийн утгууд/</span> Судалгааны төрөл</h4>
                <div class="col-md-10">
                    <div class="card mb-4">
                        <h5 class="card-header">Судалгааны төрөл</h5>
                        <div class="card-body demo-vertical-spacing demo-only-element">
                            <div class="input-group">
                                <input type="text" name="object.name" id="object_name" value="${object?.name}"
                                       class="form-control">
                            </div>
                        </div>

                        <input class="btn btn-secondary" type="submit" name="_save"
                               value="&{'crud.save', type.modelName}"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    #{/form}
    </div>
</section>


<script>
    $("section#breadcrumbs").html("");
</script>
*{#{extends 'CRUD/layout.html' /}}*

*{<section class="breadcrumbs_section cs  gradient table_section table_section_md">}*
*{    <div class="container">}*
*{        <div class="row">}*
*{            <div class="col-md-12 text-center text-md-left">}*
*{                <h2 class="thin">&{'ResearchCategory'}</h2>}*
*{            </div>}*
*{        </div>}*
*{    </div>}*
*{</section>}*

*{<section class="ls section_padding_50">}*
*{    <div class="container">}*
*{        <div class="row">}*
*{        #{form action:@create(id), enctype:'multipart/form-data',class:'form-horizontal'}}*
*{            <div class="row">}*
*{                <div class="form-group">}*
*{                    <label class="col-sm-3 control-label">Нэр</label>}*

*{                    <div class="col-sm-6">}*
*{                        <input type="text" class="form-control" id="object_name"}*
*{                               name="object.name" value="${object?.name}"}*
*{                               placeholder="Судалгааны нэр">}*
*{                    </div>}*
*{                </div>}*
*{            </div>}*
*{            <div class="row">}*
*{                <div class="col-md-12 text-right">}*
*{                    <input class="btn btn-success" type="submit" name="_save"}*
*{                           value="&{'crud.save', type.modelName}"/>}*
*{                </div>}*
*{            </div>}*
*{        #{/form}}*
*{        </div>}*
*{    </div>}*
*{</section>}*

