#{extends 'CRUD/layout.html' /}
#{set activeMenu: 'ResearchCategories'/}

<div class="content-wrapper">
    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4">МЭН-ийн судалгааны төрөл</h4>
        <nav
                class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
                id="layout-navbar"
        >
            <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
                <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                    <i class="bx bx-menu bx-sm"></i>
                </a>
            </div>

            <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
                <!-- Search -->
                <div class="navbar-nav align-items-center">
                    <div class="nav-item d-flex align-items-center">
                        <i class="bx bx-search fs-4 lh-0"></i>
                        <input type="text" name="search" class="form-control" placeholder="Хайх"
                               value="${search}"
                        >
                    </div>
                </div>
                <!-- /Search -->
                <button type="submit" class="btn btn-outline-primary">Хайх</button>
*{                            <button type="submit" value="${search}" class="form-control">Хайх</button>}*

                <ul class="navbar-nav flex-row align-items-center ms-auto">
                    <li class="nav-item navbar-dropdown dropdown-user dropdown">
                        <a href="@{blank()}" class="btn btn-primary">МЭН-ийн судалгааны төрөл нэмэх</a>
                    </li>
                </ul>
            </div>
        </nav>
        <br>
        <section class="ls section_padding_50">
            <div class="card">
                <div class="table-responsive text-nowrap">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Судалгааны нэр</th>
                            <th>Үйлдэл</th>
                        </tr>
                        </thead>
                    %{count=1}%
                    #{list items:objects,as:'object'}
                        <tr>
                            <td>${count}</td>
                            <td>${object.name}</td>
                            <td><a href="@{controllers.ResearchCategorys.blank(object.id)}"><i
                                    class="fa fa-pencil"></i> Засах</a></td>
                        </tr>
                    %{count++}%
                    #{/list}
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>

<script>
    $("section#breadcrumbs").html("");
</script>
</div>


*{<div id="main-content">}*
*{    <div class="row">}*
*{        <div class="panel panel-default">}*
*{            <div class="panel-heading">}*
*{                <div class="row">}*
*{                    <form action="/researchCategory" method="get" accept-charset="utf-8"}*
*{                          enctype="application/x-www-form-urlencoded">}*
*{                        <div class="col-md-4">}*
*{                            <input type="text" name="search" id="member-finder" class="form-control" placeholder="Хайх"}*
*{                                   value="${search}">}*
*{                        </div>}*
*{                    </form>}*
*{                    <div style="float: right;margin-right: 15px">}*
*{                        <a href="@{blank()}" class="btn btn-success btn-transparent"><i class="fa fa-plus p-r-10"></i>}*
*{                        &{'ResearchCategoryп} &{'add'}</a>}*
*{                    </div>}*
*{                </div>}*
*{            </div>}*
*{            <div class="panel-body">}*
*{                <div class="row">}*
*{                    <div class="col-md-12 col-sm-12 col-xs-12">}*
*{                        <table class="table table-hover">}*
*{                            <thead>}*
*{                            <tr>}*
*{                                <th>#</th>}*
*{                                <th>Судалгааны төрөл</th>}*
*{                                <th></th>}*
*{                            </tr>}*
*{                            </thead>}*
*{                            <tbody>}*
*{                            %{count=1}%}*
*{                            #{list items:objects,as:'object'}}*
*{                            <tr>}*
*{                                <td>${count}</td>}*
*{                                <td>${object.name}</td>}*
*{                                <td><a href="@{ResearchCategorys.show(object.id)}"}*
*{                                       class="edit btn btn-sm btn-default"><i}*
*{                                        class="fa fa-pencil"></i> Засах</a></td>}*
*{                            </tr>}*
*{                            %{count++}%}*
*{                            #{/list}}*
*{                            </tbody>}*
*{                        </table>}*
*{                    </div>}*
*{                </div>}*
*{            </div>}*
*{        </div>}*

*{    #{crud.pagination /}}*

*{    </div>}*
*{</div>}*
*{<script>}*
*{    $('div#main-content').css('min-height', screen.height - 138);}*
*{</script>}*