#{extends 'CRUD/layout.html' /}
<section class="ls section_padding_50">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-md-left">
                <div class="container-xxl flex-grow-1 container-p-y">
                    <h2 class="fw-bold py-3 mb-4">&{'ResearchCategory'}</h2>
                </div>
            </div>

            <div class="card-md-8 text-left" style="font-size:19px">
                <div class="card mb-4" style="padding-left:3%">
                #{form action:@save(object.id), enctype:'multipart/form-data', class:'form-horizontal'}
                    #{crud.form /}
                    <div class="text-left" style="margin-top: 12px">
                        <input class="btn btn-secondary" type="submit" name="_save"
                               value="&{'crud.save', type.modelName}"/>
                    </div>
                #{/form}
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $("section#breadcrumbs").html("");
</script>