#{extends 'CRUD/layout.html' /}
#{set activeMenu: 'Users'/}

<div class="content-wrapper">
    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Хэрэглэгчийн сан /</span>Хэрэглэгч</h4>
        <nav
                class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
                id="layout-navbar"
        >
            <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
                <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                    <i class="bx bx-menu bx-sm"></i>
                </a>
            </div>

            <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
                <!-- Search -->
                <div class="navbar-nav align-items-center">
                    <div class="nav-item d-flex align-items-center">
                        <i class="bx bx-search fs-4 lh-0"></i>
                        <input type="text" name="search" class="form-control" placeholder="Хайх"
                               value="${search}"
                        >
                    </div>
                </div>
                <!-- /Search -->
                <button type="submit" class="btn btn-outline-primary">Хайх</button>
            *{                <button type="submit" value="${search}" class="form-control">Хайх</button>}*

                <ul class="navbar-nav flex-row align-items-center ms-auto">
                    <li class="nav-item navbar-dropdown dropdown-user dropdown">
                        <a href="@{blank()}" class="btn btn-primary">Хэрэглэгч нэмэх</a>
                    </li>
                </ul>
            </div>
        </nav>
        <br>
        <section class="ls section_padding_50">
            <!-- Basic Bootstrap Table -->
            <div class="card">
                <h5 class="card-header">Хэрэглэгчийн жагсаалт</h5>
                <div class="table-responsive text-nowrap">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Хэрэглэгчийн нэр</th>
                            <th>Эцэг эхийн нэр</th>
                            <th>Имэйл</th>
                            <th>Утас</th>
                            <th>Хаяг</th>
                            <th>Байгууллага</th>
*{                            <th>Албан тушаал</th>}*
                            <th>Үйлдэл</th>

                        </tr>
                        </thead>
                    %{count=1}%
                    #{list items:objects,as:'object'}
                        <tr>
                            <td>${count}</td>
                            <td>${object.firstName}</td>
                            <td>${object.lastName}</td>
                            <td>${object.email}</td>
                            <td>${object.phone}</td>
                            <td>${object?.aimag}-${object?.sumName}-${object?.bag}</td>
                            <td>${object?.bTorol}-${object?.baiguullaga}-${object?.role}</td>
*{                            <td>${object?.role}</td>}*
*{                            <td><a href="@{controllers.Users.blank(object.name)}"></a></td>}*
                            <td><a href="@{controllers.Users.blank(object.id)}"><i
                                    class="fa fa-pencil"></i> Засах</a></td>
                        </tr>
                    %{count++}%
                    #{/list}
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>

*{<script>}*
*{    $("section#breadcrumbs").html("");}*
*{</script>}*
*{</div>}*

*{#{extends 'CRUD/layout.html' /}}*


*{<div class="content-wrapper">}*
*{    <div class="container-xxl flex-grow-1 container-p-y">}*
*{        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Хэрэглэгчийн сан /</span>Хэрэглэгч</h4>}*
*{        <!-- Basic Bootstrap Table -->}*


*{        <section class="ls section_padding_50">}*
*{    <div class="container">}*
*{        <div class="row">}*
*{            <form action="/users" method="get" accept-charset="utf-8" enctype="application/x-www-form-urlencoded">}*
*{                <div class="col-md-4">}*
*{                    <input type="text" name="search" class="form-control" placeholder="Хайх"}*
*{                           value="${search}">}*
*{                </div>}*
*{                <div class="col-md-2">}*
*{                    <button type="submit" class="theme_button color1">Хайх</button>}*
*{                </div>}*
*{                <div class="col-md-6  text-md-right">}*
*{                    <ol class="breadcrumb">}*
*{                        <li>}*
*{                            }**{<a href="@{blank()}" class="theme_button color2"><i}*
*{                                    }**{class="fa fa-plus p-r-10"></i> &{'Supplier'} &{'add'}</a>}*
*{                        </li>}*
*{                    </ol>}*
*{                </div>}*
*{            </form>}*
*{        </div>}*
*{        <div class="row">}*
*{            <div class="col-md-12 col-sm-12 col-xs-12">}*
*{                <table class="table table-bordered">}*
*{                    <thead>}*
*{                    <tr>}*
*{                        <th>#</th>}*
*{                        <th>Хэрэглэгчийн нэр</th>}*
*{                        <th>Имэйл</th>}*
*{                        <th>Утас</th>}*
*{                        <th>Эцэг, эхийн нэр</th>}*
*{                        <th>Нэр</th>}*
*{                        <th></th>}*
*{                    </tr>}*
*{                    </thead>}*
*{                    <tbody>}*
*{                    %{count=1}%}*
*{                    #{list items:objects,as:'object'}}*
*{                    <tr>}*
*{                        <td>${count}</td>}*
*{                        <td>${object.username}</td>}*
*{                        <td>${object.email}</td>}*
*{                        <td>${object.phone}</td>}*
*{                        <td>${object.lastName}</td>}*
*{                        <td>${object.firstName  }</td>}*
*{                        <td><a href="@{controllers.Users.show(object.id)}"><i}*
*{                                class="fa fa-pencil"></i> Засах</a></td>}*
*{                    </tr>}*
*{                    %{count++}%}*
*{                    #{/list}}*
*{                    </tbody>}*
*{                </table>}*
*{            </div>}*
*{            <div id="crudListPagination">}*
*{            #{crud.pagination /}}*
*{            </div>}*
*{        </div>}*
*{    </div>}*
*{</section>}*

*{    </div>}*
*{</div>}*
*{<script>}*
*{    $("section#breadcrumbs").html("");}*
*{</script>}*