#{extends 'CRUD/layout.html' /}
<section class="ls section_padding_50">
    <div class="container">

    #{form action:@create(id), enctype:'multipart/form-data',class:'form-horizontal'}
        <div class="row">
            <div class="col-md-12 text-right">
                <div class="container-xxl flex-grow-1 container-p-y">
                    <div class="col-md-10">
                        <div class="card mb-4">
                            <h5 class="card-header">Асуултын нэр</h5>
                            <div class="card-body demo-vertical-spacing demo-only-element">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="object_name"
                                           name="object.name" value="${object?.name}"
                                           placeholder="Асуултын нэрээ оруулна уу">
                                </div>
                            </div>
                        </div>
                        <input class="btn btn-secondary" type="submit" name="_save"
                               value="&{'crud.save', type.modelName}"/>
                    </div>
                </div>
            </div>
        </div>
    #{/form}
    </div>
</section>
