#{extends 'CRUD/layout.html' /}
<section class="ls section_padding_50">
    <div class="container">

    #{form action:@create(id), enctype:'multipart/form-data',class:'form-horizontal'}
        <div class="row">
            <div class="col-md-12 text-right">
                <div class="container-xxl flex-grow-1 container-p-y">
                    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Аймаг, хот /</span> Аймаг, хот нэмэх</h4>
                        <div class="col-md-10">
                            <div class="card mb-4">
                                <h5 class="card-header">Нэр</h5>
                                <div class="card-body demo-vertical-spacing demo-only-element">
                                    <div class="input-group">
                                        <input type="text" name="object.name" id="object_name" value="${object?.name}"
                                               class="form-control">
                                    </div>
                                </div>
                                <h5 class="card-header">Дараалал</h5>
                                <div class="card-body demo-vertical-spacing demo-only-element">
                                    <div class="input-group">
                                        <input type="text" name="object.queue" id="object_queue" value="${object?.queue}"
                                               class="form-control">
                                    </div>
                                </div>
                            </div>
                            <input class="btn btn-secondary" type="submit" name="_save"
                                   value="&{'crud.save', type.modelName}"/>
                        </div>
                </div>
            </div>
        </div>
    #{/form}
    </div>
</section>


<script>
    $("section#breadcrumbs").html("");
</script>