#{extends 'CRUD/layout.html' /}
#{set activeMenu: 'Bags'/}

<div class="content-wrapper">
            <div class="container-xxl flex-grow-1 container-p-y">
                <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">${sumName.aimag}-> ${sumName} :</span> &{'Bag'}</h4>
                <nav
                        class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
                        id="layout-navbar"
                >
                    <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
                        <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                            <i class="bx bx-menu bx-sm"></i>
                        </a>
                    </div>

                    <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
                        <!-- Search -->
                        <div class="navbar-nav align-items-center">
                            <div class="nav-item d-flex align-items-center">
                                <i class="bx bx-search fs-4 lh-0"></i>
                                <input type="text" name="search" class="form-control" placeholder="Хайх"
                                       value="${search}"
                                >
                            </div>
                        </div>
                        <!-- /Search -->
                        <button type="submit" class="btn btn-outline-primary">Хайх</button>
                    *{                <button type="submit" value="${search}" class="form-control">Хайх</button>}*

                        <ul class="navbar-nav flex-row align-items-center ms-auto">
                            <li class="nav-item navbar-dropdown dropdown-user dropdown">
                                <a href="@{blank(sumName.id)}" class="btn btn-primary"><i
                                        class="fa fa-plus p-r-10"></i> &{'Bag'} &{'add'}</a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <br>

<section class="ls section_padding_50">
    <div class="card">
        <h5 class="card-header">Баг, хорооны жагсаалт</h5>
        <div class="table-responsive text-nowrap">
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Нэр</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                %{count=1}%
                #{list items:objects,as:'object'}
                <tr>
                    <td>${count}</td>
                    <td>${object.name}</td>
                    <td><a href="@{controllers.Bags.show(object.id)}">Засах</a></td>
                </tr>
                %{count++}%
                #{/list}
                </tbody>
            </table>
        </div>
    </div>
</section>
            </div>
</div>
