#{extends 'CRUD/layout.html' /}
#{set activeMenu: 'SumTeams'/}
#{set title:messages.get('crud.blank.title', type.modelName) /}
#{flashCrud /}
<div class="panel panel-flat">

    <div id="main-content" class="panel-body">

        <form action="@{create(id)}" class="form-horizontal" role="form" method="post" accept-charset="utf-8"
              enctype="multipart/form-data">


            <div class="form-group">
                <label class="col-md-3 control-label text-right">Аймаг, хот : <span class="asterisk">*</span></label>

                <div class="col-md-4">
                    <select id="object_aimag" class="selectpicker show-tick" data-live-search="true"
                            name="object.aimag.id">
                    #{if aimags.size() > 1}
                        <option value="0">Сонгох</option>
                    #{/if}
                    #{list items:aimags,as:'aim'}
                        <option value="${aim.id}">${aim}</option>
                    #{/list}
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label text-right">Сум, дүүрэг : <span class="asterisk">*</span></label>

                <div class="col-md-4">
                    <select id="object_sumName" class="selectpicker show-tick" data-live-search="true"
                            name="object.sumName.id" title="Сонгох">
                    #{if sumNames.size() > 1}
                        <option value="0">Сонгох</option>
                    #{/if}
                    #{list items:sumNames,as:'sumName'}
                        <option value="${sumName.id}">${sumName}</option>
                    #{/list}
                    </select>
                </div>
            </div>


            <div class="form-group">
                <label class="col-md-3 control-label text-right">Мал эмнэлгийн нэгж : <span
                        class="asterisk">*</span> </label>

                <div class="col-md-4">
                    <select class="selectpicker show-tick" id="object_userTeam" name="object.userTeam.id"
                            data-live-search="true">
                        <option value="0">Сонгох</option>
                    #{list items:teams,as:'team'}
                        <option value="${team.id}"
                                data-subtext="${team.register}" ${object?.userTeam?.id==team.id?'selected':''}>${team}</option>
                    #{/list}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-7 text-right">
                    <button type="submit" class="btn btn-primary" id="saveBtn">
                        <i class="fa fa-check"></i> Хадгалах
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>

    $('div#main-content form').on('submit', function () {
        $('button#saveBtn').attr("disabled", "disabled");
        var saveBtn = $('button#saveBtn');
        saveBtn.append("<img src='/public/images/loading.gif' style='margin-left: 4px'>");

        var valid = true;
        if ($('select#object_aimag').val() == 0) {
            showErrorMessage("Аймаг, хот сонгоно уу !!!");
            valid = false;
        } else if ($('select#object_sumName').val() == 0) {
            showErrorMessage("Сум, дүүрэг сонгоно уу !!!");
            valid = false;
        } else if ($('select#object_userTeam').val() == 0) {
            showErrorMessage("Үржүүлэг технологийн нэгж  сонгоно уу !!!");
            valid = false;
        }

        if (!valid) {
            $('button#saveBtn').removeAttr("disabled");
            saveBtn.find("img").remove();
        }
        return valid;
    });

    $('select#object_aimag').on('change', function () {
        $.ajax({
            type: "POST",
            data: {
                aid: $(this).val()
            },
            url: "/loadSumName"
        }).success(function (data) {
            $('select#object_sumName').html(data).selectpicker('refresh');
        });
    });

    $('select#object_sumName').on('change', function () {
        if ($(this).val() > 0) {
            $.ajax({
                type: "POST",
                data: {
                    sid: $(this).val()
                },
                url: "/loadTeam"
            }).success(function (data) {
                $('select#object_userTeam').html(data).selectpicker('refresh');
            });
        } else $('select#object_userTeam').html("");

    });

</script>
