<div id="modal_team_research" class="modal fade" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5 class="modal-title"><i class="icon-users4"></i> МЭҮН-ийн судалгаа нэмэх</h5>
            </div>
            <hr>
            <div class="modal-body">
                <div class="form-group">
                    <div class="row">
                        <label class="control-label col-lg-4 text-right">МЭҮН
                            <span class="asterisk">*</span></label>

                        <div class="col-lg-7">
                            <input type="text" class="form-control" value="${userTeam.name}" readonly>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="control-label col-lg-4 text-right">Судалгааны нэр
                            <span class="asterisk">*</span></label>

                        <div class="col-lg-7">
                            <select id="research" class="selectpicker show-tick" data-live-search="true">
                                <option value="0">Сонгох</option>
                            #{list items:researches,as:'research'}
                                <option value="${research.id}">${research.name}</option>
                            #{/list}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal"><i class="icon-cross"></i>Гарах</button>
                <button class="btn btn-primary" id="saveBtn" onclick="saveTeamResearch()">
                    <i class="icon-check"></i> Хадгалах
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    $('select').selectpicker('refresh');

    function saveTeamResearch() {

        var btn = $('button#saveBtn');
        btn.attr("disabled", "disabled");
        btn.append("<img src='/public/images/loading.gif' style='margin-left: 4px'>");

        var valid = true;
        if ($('select#research').val() == 0) {
            showErrorMessage("Судалгааны нэр сонгоно уу!");
            valid = false;
        }

        if (valid) {
            $.ajax({
                type: "POST",
                data: {
                    tid: '${userTeam.id}',
                    sid: '${sumName.id}',
                    rid: $('select#research').val()
                },
                url: "/teamResearchSave"
            }).success(function (data) {
                if (data == "success") {
                    showSuccessMessage("Амжилттай хадгалсан");
                    window.location.reload();
                } else showErrorMessage("Алдаа гарлаа. " + data);
            });
        } else {
            btn.find("img").remove();
            btn.removeAttr("disabled");
        }
    }

</script>