<div id="modal_team_farmer" class="modal fade" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5 class="modal-title"><i class="icon-users4"></i> Гэрээт малчин/ферм нэмэх</h5>
            </div>
            <hr>
            <div class="modal-body">
                <div class="form-group">
                    <div class="row">
                        <label class="control-label col-lg-4 text-right">МЭҮН
                            <span class="asterisk">*</span></label>

                        <div class="col-lg-7">
                            <input type="text" class="form-control" value="${sumTeam.userTeam.name}" readonly>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="control-label col-lg-4 text-right">Гэрээт малчин/ферм
                            <span class="asterisk">*</span></label>

                        <div class="col-lg-7">
                            <select id="farmerAddress" class="selectpicker show-tick" data-live-search="true"
                                    multiple title="Сонгох">
                            #{list items:farmerAddresses,as:'farmerAddress'}
                                <option value="${farmerAddress.id}"
                                        data-subtext="${farmerAddress.farmer.register}">${farmerAddress.farmer.toString()}</option>
                            #{/list}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal"><i class="icon-cross"></i>Гарах</button>
                <button class="btn btn-primary" id="saveBtn" onclick="saveTeamFarmer()">
                    <i class="icon-check"></i> Хадгалах
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    $('select').selectpicker('refresh');

    function saveTeamFarmer(fid) {

        var btn = $('button#saveBtn');
        btn.attr("disabled", "disabled");
        btn.append("<img src='/public/images/loading.gif' style='margin-left: 4px'>");

        var valid = true;
        if ($('select#farmerAddress').val() == null) {
            showErrorMessage("Гэрээт малчин/ферм оруулна уу!");
            valid = false;
        }

        if (valid) {
            $.ajax({
                type: "POST",
                data: {
                    stid: '${sumTeam.id}',
                    farmerAddress: $('select#farmerAddress').val()
                },
                url: "/teamFarmerSave"
            }).success(function (data) {
                if (data == "success") {
                    showSuccessMessage("Амжилттай хадгалсан");
                    window.location.reload();
                } else showErrorMessage("Алдаа гарлаа. " + data);
            });
        } else {
            btn.find("img").remove();
            btn.removeAttr("disabled");
        }
    }

</script>