#{extends 'CRUD/layout.html' /}
#{set activeMenu: 'SumTeams'/}
#{fancybox-config /}
#{flashCrud /}
<style>
    div#status-row .bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
        width: 100%;
        min-width: inherit;
    }

    div#status-row div {
        margin-bottom: 2px;
    }

    #status-row .col-md-2 span,
    #status-row .col-md-2 input,
    #status-row .col-md-2 .btn {
        font-size: 11px;
    }
</style>
<script type="text/javascript" src="@{'assets/js/plugins/tables/footable/footable.min.js'}"></script>
<script type="text/javascript" src="@{'/assets/js/pages/table_responsive.js'}"></script>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-12">
                        <h5> ${sumTeam.userTeam.name} - Гэрээт малчин/ферм
                            (${sumTeam.sumName.aimag}, ${sumTeam.sumName}) </h5>
                    </div>
                </div>
            </div>
            <div class="panel-heading" id="status-row">
                <div class="row">
                    <div class="col-md-2">
                        <select id="aimag" multiple class="selectpicker show-tick" title="Аймаг"
                                data-live-search="true" disabled>
                        #{list items:aimags,as:'aim'}
                            <option value="${aim.id}" #{if controllers.Functions.checkIds(aim.id, aimag)}
                                    selected #{/if}>${aim}</option>
                        #{/list}
                        </select>
                    </div>
                    <div class="col-md-2">
                        <select id="sumName" multiple class="selectpicker show-tick" title="Сум"
                                data-live-search="true" disabled>
                        #{list items:sumNames,as:'_sumName'}
                            <option value="${_sumName.id}" #{if controllers.Functions.checkIds(_sumName.id, sumName)}
                                    selected #{/if}>${_sumName.aimag.name.substring(0,2)}
                                -${_sumName}</option>
                        #{/list}
                        </select>
                    </div>
                    <div class="col-md-2">
                        <select id="bag" multiple class="selectpicker show-tick" title="Баг"
                                data-live-search="true">
                        #{list items:bags,as:'_bag'}
                            <option value="${_bag.id}" #{if controllers.Functions.checkIds(_bag.id, bag)}
                                    selected #{/if}>
                            ${_bag.sumName.aimag.name.substring(0,2)}
                                -${_bag.sumName.name.substring(0,2)}-${_bag}</option>
                        #{/list}
                        </select>
                    </div>
                    <div class="col-md-2">
                        <input type="text" id="name" class="form-control" placeholder="Малчин/фермийн нэр"
                               value="${name}">
                    </div>

                    <div class="col-md-2">
                        <input type="text" id="register" class="form-control"
                               placeholder="Малчин/фермийн регистр"
                               value="${register}">
                    </div>
                    <div class="col-md-2" style="text-align: right;">
                        <button type="button" class="btn btn-primary" data-rel="tooltip"
                                data-container="body" title="Хайх" onclick="farmerList(1)">
                            <i class="fa fa-search"></i>
                        </button>
                    #{if permission == 2}
                        <a href="#" class="btn btn-success btn-transparent" onclick="addTeamFarmer()">
                            <i class="fa fa-plus p-r-5"></i> Малчин/үйлдвэр &{'add'}</a>
                    #{/if}
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <table class="table table-togglable table-hover">
                            <thead>
                            <tr>
                                <th data-hide="phone">№</th>
                                <th data-toggle="true">Эцэг/эхийн</th>
                                <th data-toggle="true">Нэр</th>
                                <th data-toggle="true">Регистр</th>
                                <th data-hide="phone,tablet">Хаяг</th>
                                <th data-hide="phone,tablet">Утас</th>
                                <th data-hide="phone,tablet"></th>
                            </tr>
                            </thead>
                            <tbody>
                            %{count=1;}%
                            #{list items:sumTeamFarmers,as:'object'}
                            <tr>
                                <td>${count}</td>
                                <td>${object.farmerAddress.farmer.lastName}</td>
                                <td>${object.farmerAddress.farmer.name}</td>
                                <td>${object.farmerAddress.farmer.register}</td>
                                <td>${object.farmerAddress.aimag}, ${object.farmerAddress.sumName}
                                    , ${object.farmerAddress.bag}</td>
                                <td>${object.farmerAddress.farmer.phone}</td>
                                <td>
                                    #{if permission == 2}
                                        <a href="#" data-popup="tooltip" onclick="teamFarmerDelete(${object.id})"
                                           title="Устгах" class="btn-xs btn btn-danger btn-icon"><i
                                                class="fa fa-trash"></i>
                                        </a>
                                    #{/if}
                                </td>
                            </tr>
                            %{count++}%
                            #{/list}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="myDialog"></div>
<script>

    function farmerList(page) {
        var st = $('div#status-row');
        var urlString = "/farmerList?CurrentPageNumber=" + page + "&stid=" + "${sumTeam.id}";
        if (st.find("#aimag").val() != null && st.find("#aimag").val().length > 0)
            urlString += "&aimag=" + st.find('#aimag').val();
        if (st.find("#sumName").val() != null && st.find("#sumName").val().length > 0)
            urlString += "&sumName=" + st.find('#sumName').val();
        if (st.find("#bag").val() != null && st.find("#bag").val().length > 0)
            urlString += "&bag=" + st.find('#bag').val();
        if (st.find("#name").val() != null && st.find("#name").val().length > 0)
            urlString += "&name=" + st.find('#name').val();
        if (st.find("#register").val() != null && st.find("#register").val().length > 0)
            urlString += "&register=" + st.find('#register').val();
        window.location = urlString;
    }

    #{if permission == 2}

    function addTeamFarmer() {
        $.ajax({
            type: "POST",
            data: {
                stid: '${sumTeam.id}',
            },
            url: "/dialogTeamFarmer",
        }).success(function (data) {
            $("div#myDialog").html(data);
            $('div#modal_team_farmer').modal('show');
        });
    }

    function teamFarmerDelete(id) {
        if (confirm("Гэрээт малчин/үйлдвэр устгахдаа итгэлтэй байна уу?")) {
            $.ajax({
                type: "POST",
                data: {
                    id: id,
                },
                url: "/teamFarmerDelete",
            }).success(function (data) {
                if (data == "success") {
                    showErrorMessage("Мэдээлэл устсан");
                    window.location.reload();
                } else showErrorMessage("Алдаа гарлаа. " + data);
            });
        }
    }

    #{/if}


</script>