#{extends 'CRUD/layout.html' /}
#{set activeMenu: 'SumTeams'/}
#{set title: 'Гэрээт мал эмнэлгийн нэгжүүд'/}
#{fancybox-config /}
#{flashCrud /}
<style>
    div#status-row .bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
        width: 100%;
        min-width: inherit;
    }

    div#status-row div {
        margin-bottom: 2px;
    }

    #main-content .col-md-2 span,
    #main-content .col-md-2 input,
    #main-content .col-md-2 .btn {
        font-size: 11px;
    }
</style>
<script type="text/javascript" src="@{'assets/js/plugins/tables/footable/footable.min.js'}"></script>
<script type="text/javascript" src="@{'/assets/js/pages/table_responsive.js'}"></script>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row" id="status-row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-2">
                                <select id="aimag" multiple class="selectpicker show-tick" title="Аймаг сонгох"
                                        data-live-search="true" ${(aimags.size() == 1 || user.userTeam.teamType.id == 4) ? "disabled":""}>
                                #{list items:aimags,as:'aim'}
                                    <option value="${aim.id}"
                                        #{if controllers.Functions.checkIds(aim.id, aimag) || aimags.size() == 1}
                                            selected #{/if}>${aim}</option>
                                #{/list}
                                </select>
                            </div>
                            <div class="col-md-2">
                                <select id="sumName" multiple class="selectpicker show-tick" title="Сум сонгох"
                                        data-live-search="true" ${(sumNames.size() == 1 || user.userTeam.teamType.id == 4)? "disabled":""}>
                                #{list items:aimags,as:'_aimag'}
                                    #{if aimag!= null && controllers.Functions.checkIds(_aimag.id, aimag)}
                                    %{ sumNameList = sumNames.size() == 1? sumNames:_aimag.sumNames}%
                                        #{list items:sumNameList,as:'_sumName'}
                                            <option value="${_sumName.id}"
                                                #{if controllers.Functions.checkIds(_sumName.id, sumName) || sumNames.size() == 1}
                                                    selected #{/if}>${_sumName.aimag.name.substring(0,2)}
                                                -${_sumName}</option>
                                        #{/list}
                                    #{/if}
                                #{/list}
                                </select>
                            </div>
                            <div class="col-md-2">
                                <input type="text" id="name" class="form-control" placeholder="Байгууллагын нэр"
                                       value="${name}">
                            </div>

                            <div class="col-md-2">
                                <input type="text" id="register" class="form-control"
                                       placeholder="Байгууллагын регистр"
                                       value="${register}">
                            </div>
                            <div class="col-md-4" style="text-align: right;">
                                <button type="button" class="btn btn-primary" data-rel="tooltip"
                                        data-container="body" title="Хайх" onclick="list(1)">
                                    <i class="fa fa-search"></i>
                                </button>
                            #{if permission==2}
                                <a href="@{blank()}" class="btn btn-success btn-transparent"><i
                                        class="fa fa-plus p-r-10"></i>
                                &{'SumTeams'} &{'add'}</a>
                            #{/if}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <table class="table table-togglable table-hover">
                            <thead>
                            <tr>
                                <th data-hide="phone">№</th>
                                <th data-toggle="true">Нэр</th>
                                <th data-toggle="true">Регистр</th>
                                <th data-hide="phone">Гэрээт хаяг</th>
                                <th data-hide="phone,tablet" class="text-center">Гэрээт малчин/үйлдвэр</th>
                                <th data-hide="phone,tablet" class="text-center">Хариулсан асуумжууд</th>
                                <th data-hide="phone,tablet" class="text-center">#{if permission == 2}Үйлдэл#{/if}</th>
                            </tr>
                            </thead>
                            <tbody>
                            %{count=((CurrentPageNumber-1)*30)+1;}%
                            #{list items:objects,as:'object'}
                            <tr>
                                <td>${count}</td>
                                <td>
                                    <a href="@{controllers.UserTeams.show(object.userTeam.id)}"> ${object.userTeam.name} </a>
                                </td>
                                <td>${object.userTeam.register}</td>
                                <td>${object.sumName.aimag}, ${object.sumName}</td>
                                <td class="text-center">
                                    <a href="@{controllers.SumTeams.farmerList(1, object.id)}">  ${object.getSumTeamFarmerCount()}  </a>
                                </td>
                                <td class="text-center">
                                    <a href="@{controllers.SumTeams.researchList(object.userTeam.id, object.sumName.id)}">  ${object.userTeam.getResearchCount(object.sumName.id)}  </a>
                                </td>
                                <td class="text-center">
                                    #{if permission == 2 && object.getSumTeamFarmerCount() == 0}
                                        <a href="#" data-popup="tooltip" onclick="sumTeamDelete(${object.id})"
                                           title="Устгах" class="btn-xs btn btn-danger btn-icon"><i
                                                class="fa fa-trash"></i>
                                        </a>
                                    #{/if}
                                </td>
                            </tr>
                            %{count++}%
                            #{/list}
                            </tbody>
                        </table>

                        Нийт: ${totalSize}
                        <br>
                    #{if MaxPageNumber>1}
                        #{include '/SharedView/pageNavigation.html'/}
                        <script>
                            $(".page-navigation input.number-button").click(function () {
                                var currentPageNumber = $(this).attr('pagenumber');
                                if (currentPageNumber != ${CurrentPageNumber}) list(currentPageNumber);
                            });
                        </script>
                    #{/if}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    function list(page) {
        var st = $('div#status-row');
        var urlString = "/sumteams?CurrentPageNumber=" + page;
        if (st.find("#aimag").val() != null && st.find("#aimag").val().length > 0)
            urlString += "&aimag=" + st.find('#aimag').val();
        if (st.find("#sumName").val() != null && st.find("#sumName").val().length > 0)
            urlString += "&sumName=" + st.find('#sumName').val();
        if (st.find("#name").val() != null && st.find("#name").val().length > 0)
            urlString += "&name=" + st.find('#name').val();
        if (st.find("#register").val() != null && st.find("#register").val().length > 0)
            urlString += "&register=" + st.find('#register').val();
        window.location = urlString;
    }

    $('select#aimag').on('change', function () {
        $.ajax({
            type: "POST",
            data: {
                ids: $(this).val()
            },
            url: "/loadSumNames"
        }).success(function (data) {
            $('select#sumName').html(data).selectpicker('refresh');
        });
    });


    #{if permission==2}
    function sumTeamDelete(id) {
        if (confirm("Гэрээт МЭҮН-ийг устгахдаа итгэлтэй байна уу?")) {
            $.ajax({
                type: "POST",
                data: {id: id},
                url: "/sumTeamDelete",
            }).success(function (data) {
                if (data == "success") {
                    showErrorMessage("Мэдээлэл устсан");
                    window.location.reload();
                } else showErrorMessage("Алдаа гарлаа. " + data);
            });
        }
    }
    #{/if}
</script>