#{extends 'CRUD/layout.html' /}
#{set activeMenu: 'SumTeams'/}
#{fancybox-config /}
#{flashCrud /}
<script type="text/javascript" src="@{'assets/js/plugins/tables/footable/footable.min.js'}"></script>
<script type="text/javascript" src="@{'/assets/js/pages/table_responsive.js'}"></script>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-8">
                        <h5><b> ${userTeam.name} </b> хариулсан судалгаа (${sumName.aimag}, ${sumName}) </h5>
                    </div>
                    <div class="col-md-4 text-right">
                        <a href="#" class="btn btn-success btn-transparent"
                           onclick="teamResearchAdd('${userTeam.id}','${sumName.id}')">
                            <i class="fa fa-plus p-r-5"></i> Судалгаа &{'add'}</a>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <table class="table table-togglable table-hover">
                            <thead>
                            <tr>
                                <th data-hide="phone">№</th>
                                <th data-toggle="true">Судалгааны нэр</th>
                                <th data-toggle="true">Үүсгэсэн огноо</th>
                                <th data-toggle="true">Засвар хийсэн огноо</th>
                                <th data-hide="phone,tablet">Үйлдэл</th>
                            </tr>
                            </thead>
                            <tbody>
                            %{count=1;}%
                            #{list items:teamResearches,as:'teamResearch'}
                            <tr>
                                <td>${count}</td>
                                <td>
                                    <a href="@{controllers.TeamResearchs.show(teamResearch.id)}">${teamResearch.research.name}</a>
                                </td>
                                <td>${teamResearch.createdDate.format("yyyy-MM-dd HH:mm")}</td>
                                <td>${teamResearch.updatedDate.format("yyyy-MM-dd HH:mm")}</td>
                                <td>
                                *{#{if permission == 2}}*
                                    <a href="@{controllers.TeamResearchs.blank(teamResearch.id)}" data-popup="tooltip"
                                       title="Засах" class="btn-xs btn btn-primary btn-icon"><i
                                            class="fa fa-pencil"></i>
                                    </a>
                                    <a href="#" data-popup="tooltip" onclick="teamResearchDelete(${teamResearch.id})"
                                       title="Устгах" class="btn-xs btn btn-danger btn-icon"><i
                                            class="fa fa-trash"></i>
                                    </a>
                                *{#{/if}}*
                                </td>
                            </tr>
                            %{count++}%
                            #{/list}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="myDialog"></div>
<script>

    function teamResearchAdd(tid, sid) {
        $.ajax({
            type: "POST",
            data: {
                tid: tid,
                sid: sid
            },
            url: "/dialogTeamResearch",
        }).success(function (data) {
            $("div#myDialog").html(data);
            $('div#modal_team_research').modal('show');
        });
    }

    function teamResearchDelete(id) {
        if (confirm("Та нэгжийн судалгааг устгахдаа илгэлтэй байна уу?\nСудалгааны хариултууд устахыг анхаарна уу")) {
            $.ajax({
                type: "POST",
                data: {
                    id: id
                },
                url: "/teamResearchDelete",
            }).success(function (data) {
                $("div#myDialog").html(data);
                $('div#modal_team_research').modal('show');
            });
        }
    }

</script>