#{extends 'CRUD/layout.html' /}
#{set activeMenu:type.name/}
#{set title:messages.get('crud.blank.title', type.modelName) /}
<link rel="stylesheet" href="/public/stylesheets/crudBlank.css"/>
<div class="panel panel-default">
    <div class="panel-heading" style="padding: 2px 15px">
        <h4>&{'crud.blank.title', type.modelName}</h4>
    </div>
    <div class="panel-body">
    #{form action:@create(), enctype:'multipart/form-data'}
        #{crud.form /}
        <div class="text-right" style="margin-top: 8px">
            <input class="btn btn-success" type="submit" name="_save"
                   value="&{'crud.save', type.modelName}"/>
            <input class="btn btn-success" type="submit" name="_saveAndAddAnother"
                   value="&{'crud.saveAndAddAnother', type.modelName}"/>
        </div>
    #{/form}
    </div>
</div>