#{extends 'CRUD/layout.html' /}

<section class="breadcrumbs_section cs  gradient table_section table_section_md">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center text-md-left">
                <h2 class="thin">${user11} : &{'UserAnimal'}</h2>
            </div>
        </div>
    </div>
</section>
<section class="ls section_padding_50">
    <div class="container">

    #{form action:@create(user11.id), enctype:'multipart/form-data',class:'form-horizontal'}
        <div class="row">
            <div class="col-md-12">

                <label class="col-sm-3 control-label">Амьтан <span
                        class="asterisk">*</span></label>

                <div class="col-sm-6">
                    <select id="object_animal" name="object.animal.id"
                            class="form-control show-tick"
                            data-live-search="true">
                        <option value="0">Сонгох</option>
                        #{list items:animals,as:'animal'}
                            <option value="${animal.id}" data-subtext="${animal.englishName}"> ${animal.mongoliaName}</option>

                        #{/list}

                    </select>
                </div>


            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-right">
                <input class="btn btn-success" type="submit" name="_save"
                       value="&{'crud.save', type.modelName}"/>
            </div>
        </div>
    #{/form}
    </div>
</section>

<script>
    $("section#breadcrumbs").html("");
</script>