#{extends 'CRUD/layout.html' /}

<section class="breadcrumbs_section cs  gradient table_section table_section_md">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center text-md-left">
                <h2 class="thin">${hereglegch.toString()} : &{'UserAnimal'}</h2>
            </div>
        </div>
    </div>
</section>
<section class="ls section_padding_50">
    <div class="container">
        <div class="row">
            <form action="/useranimals?uid=${hereglegch.id}" method="get" accept-charset="utf-8" enctype="application/x-www-form-urlencoded">
                <div class="col-md-4">
                    <input type="text" name="search" class="form-control" placeholder="Хайх"
                           value="${search}">
                </div>
                <div class="col-md-2">
                    <button type="submit" class="theme_button color1">Хайх</button>
                </div>
                <div class="col-md-6  text-md-right">
                    <ol class="breadcrumb">
                        <li>
                            <a href="@{blank(hereglegch.id)}" class="theme_button color2"><i
                                    class="fa fa-plus p-r-10"></i> &{'UserAnimal'} &{'add'}</a>
                        </li>
                    </ol>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Англи нэр</th>
                        <th>Монгол нэр</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    %{count=1}%
                    #{list items:objects,as:'object'}
                    <tr>
                        <td>${count}</td>
                        <td>${object.animal.englishName}</td>
                        <td>${object.animal.mongoliaName}</td>
                        <td><a href="@{controllers.UserAnimals.show(object.id)}"><i
                                class="fa fa-pencil"></i> Засах</a></td>

                    </tr>
                    %{count++}%
                    #{/list}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
</section>


<script>
    $("section#breadcrumbs").html("");
</script>