*{#{extends 'CRUD/layout.html' /}}*

*{<section class="breadcrumbs_section cs  gradient table_section table_section_md">}*
*{    <div class="container">}*
*{        <div class="row">}*
*{            <div class="col-md-12 text-center text-md-left">}*
*{                <h2 class="thin">${object.user}->${object.animal} : &{'SumName'}</h2>}*
*{            </div>}*
*{        </div>}*
*{    </div>}*
*{</section>}*

*{<section class="ls section_padding_50">}*
*{    <div class="container">}*

*{    #{form action:@save(object.id), enctype:'multipart/form-data', class:'form-horizontal'}}*
*{        #{crud.form /}}*
*{        <div class="text-right" style="margin-top: 8px">}*
*{            <input class="btn btn-success" type="submit" name="_save" value="&{'crud.save', type.modelName}"/>}*
*{        }**{<input type="submit" name="_saveAndContinue" value="&{'crud.saveAndContinue', type.modelName}" />}*
*{        </div>}*
*{    #{/form}}*
*{    </div>}*
*{</section>}*


*{<script>}*
*{    $("section#breadcrumbs").html("");}*
*{</script>script}*
#{extends 'CRUD/layout.html' /}

<section class="breadcrumbs_section cs  gradient table_section table_section_md">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center text-md-left">
                <h2 class="thin">${object.user.toString()} : &{'UserAnimal'}</h2>
            </div>
        </div>
    </div>
</section>

<section class="ls section_padding_50">
    <div class="container">

    #{form action:@save(object.id), enctype:'multipart/form-data', class:'form-horizontal'}
        <label class="col-sm-3 control-label">Амьтан <span
                class="asterisk">*</span></label>

        <div class="col-sm-6">
            <select id="object_animal" name="object.animal.id"
                    class="form-control show-tick"
                    data-live-search="true">
                #{list items:animals,as:'animal'}
                    <option value="${animal.id}" #{if object?.animal?.id==animal.id}
                            selected#{/if}>${animal.mongoliaName}</option>
                #{/list}

            </select>
        </div>
        <div class="text-right" style="margin-top: 8px">
            <input class="btn btn-success" type="submit" name="_save" value="&{'crud.save', type.modelName}"/>
*{            <input type="submit" name="_saveAndContinue" value="&{'crud.saveAndContinue', type.modelName}" />}*
        </div>
    #{/form}
    </div>
</section>


<script>
    $("section#breadcrumbs").html("");
</script>