#{extends 'CRUD/layout.html' /}

<section class="breadcrumbs_section cs  gradient table_section table_section_md">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center text-md-left">
                <h2 class="thin">&{'Supplier'}</h2>
            </div>
        </div>
    </div>
</section>

<section class="ls section_padding_50">
    <div class="container">
        <div class="row">
        #{form action:@create(id), enctype:'multipart/form-data',class:'form-horizontal'}
            <div class="row">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Нэр</label>

                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="object_name"
                               name="object.name" value="${object?.name}"
                               placeholder="Байгууллагын нэр">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Аймаг</label>

                    <div class="col-sm-6">
                        <select id="object_aimag" name="object.aimag.id"
                                class="form-control show-tick"
                                data-live-search="true">
                            <option value="0">(Сонгоогүй байна)</option>
                            #{list items:aimags,as:'aimag'}
                                <option value="${aimag.id}" #{if object?.aimag?.id==aimag.id}
                                        selected#{/if}>${aimag}</option>
                            #{/list}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Сум</label>

                    <div class="col-sm-6">
                        <select id="object_sumName" name="object.sumName.id"
                                class="form-control show-tick"
                                data-live-search="true">
                            <option value="0">(Сонгоогүй байна)</option>
                            #{if object != null}
                                #{list items:object.aimag.sumNames,as:'sumName'}
                                    <option value="${sumName.id}" #{if object?.sumName?.id==sumName.id}
                                            selected#{/if}>${sumName}</option>
                                #{/list}
                            #{/if}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Баг</label>

                    <div class="col-sm-6">
                        <select id="object_bag" name="object.bag.id"
                                class="form-control show-tick"
                                data-live-search="true">
                            <option value="0">(Сонгоогүй байна)</option>
                            #{if object != null}
                                #{list items:object.sumName.bags,as:'bag'}
                                    <option value="${bag.id}" #{if object?.bag?.id==bag.id}
                                            selected#{/if}>${bag}</option>
                                #{/list}
                            #{/if}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Нэмэлт</label>

                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="object_address"
                               name="object.address" value="${object?.address}"
                               placeholder="Нэмэлт ...">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-right">
                    <input class="btn btn-success" type="submit" name="_save"
                           value="&{'crud.save', type.modelName}"/>
                </div>
            </div>
        #{/form}
        </div>
    </div>
</section>


<script>
    $("section#breadcrumbs").html("");

    $('select#object_aimag').on('change', function () {
        if ($(this).val() > 0) {
            $.ajax({
                type: "POST",
                data: "id=" + $(this).val(),
                url: "/loadSumName"
            }).success(function (data) {
                $('select#object_sumName').html(data);
            });
        }
    });
    $('select#object_sumName').on('change', function () {
        if ($(this).val() > 0) {
            $.ajax({
                type: "POST",
                data: "id=" + $(this).val(),
                url: "/loadBagName"
            }).success(function (data) {
                $('select#object_bag').html(data);
            });
        }
    });
</script>