#{field 'object.' + _name}
    <label for="${field.id}" class="control-label col-md-2">
        &{_name}
    </label>
<div class="col-md-7">
    <input id="${field.id}" class="form-control ${field.errorClass}" type="text" name="${field.name}" value="${params[field.name]?.escape()?.raw() ?: field.error?.message == 'validation.required' ? '' : _value?.escape()?.raw()}" size="5" />
    #{ifError field.name}
        *{<span class="error">${field.error.raw()}</span>}*
    #{/ifError}
</div>
#{/field}
