#{extends 'CRUD/layout.html' /}

<section class="ls section_padding_50">
    <div class="container">

    #{form action:@create(aimags.id), enctype:'multipart/form-data',class:'form-horizontal'}
        <div class="row">
            <div class="col-lg-8 text-right">
                <h2 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">${aimags} : </span>&{'SumName'}</h2>
                <div class="col-md-10">
                    <div class="card mb-4">
                          <h5 for="object_name" class="card-header">&{'name'}</h5>
                                                            <div class="card-body demo-vertical-spacing demo-only-element">
                                                            <div class="input-group">
                                                                <input type="text" name="object.name" id="object_name" value="${object?.name}"
                                                                       class="form-control">
                                                            </div>
                                                        </div>
                                                            <h5 for="object_longitude" class="card-header">&{'longitude'}</h5>
                                                            <div class="card-body demo-vertical-spacing demo-only-element">
                                                                <div class="input-group">
                                                                    <input type="text" name="object.longitude" id="object_longitude" value="${object?.longitude}"
                                                                           class="form-control">
                                                                </div>
                                                            </div>
                                                            <h5 for="object_latitude" class="card-header">&{'latitude'}</h5>
                                                            <div class="card-body demo-vertical-spacing demo-only-element">
                                                                <div class="input-group">
                                                                    <input type="text" name="object.latitude" id="object_latitude" value="${object?.latitude}"
                                                                           class="form-control">
                                                                </div>
                                                            </div>
                    </div>
                    <input class="btn btn-secondary" type="submit" name="_save"
                           value="&{'crud.save', type.modelName}"/>
                </div>
            </div>
        </div>
    #{/form}
    </div>
</section>
<script>
    $("section#breadcrumbs").html("");
</script>
